<section class="dashboard-content">
  <div class="row">
    <div class="small-12 columns">
      <h1>My Promotions</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= render 'dashboard/tutor/promotions/add_promotion_form' %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= render 'dashboard/tutor/promotions/show_promotions' %>
    </div>
  </div>
</section>