<section class="dashboard tutor">
  <div class="wrapper">
    <div class="wrapper__text">
      <h1 class="title">My Promotions</h1>
      <%= render 'dashboard/promotions/add_promotion_form' %>
      <%= render 'dashboard/promotions/show_promotions' %>
    </div>
  </div>
</section>