<table class="body">
  <tr>
    <td class="center" align="center" valign="top">
      <table class="container">
        <tr>
          <td>
            <table class="row">
              <tr>
                <td class="wrapper last">
                  <table class="twelve columns">
                    <tr>
                      <td class="panel text-pad body-container">
                       <img width="600" height="198" src="http://axontutors.s3.amazonaws.com/axon_logo_color.png">
                        <table class="row">
                          <table class="row">
                            <tr>
                              <td class="wrapper last text-pad">
                                <p class="lead message-content">
                                  Hi <%= @user.first_name.capitalize %>, <br><br>

                                  We’d like to inform you that your Axon Account has been deactivated.<br>

                                  If you have any questions or concerns, please contact info@axontutors.com.<br><br>

                                  Thanks,<br>

                                  The Axon Team
                                </p>
                              </td>
                            </tr>
                          </table>
                        </table>
                      </td>
                      <td class="expander"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!-- container end below -->
          </td>
        </tr>
      </table>
      </center>
    </td>
  </tr>
</table>