<table class="body">
  <tr>
    <td class="center" align="center" valign="top">
      <table class="container">
        <tr>
          <td>
            <table class="row">
              <tr>
                <td class="wrapper last">
                  <table class="twelve columns">
                    <tr>
                      <td class="panel text-pad body-container">
                        <!-- <img width="580" height="100" src="http://placehold.it/580x100?text=Axon Logo"> -->
                        <%= image_tag("axon_logo_color", height: '198', width: '600') %>
                        <table class="row">
                          <tr>
                            <td class="wrapper last center text-center">
                              <h4 align="center" class="title text-center">
                              Welcome :) Plus, a quick question...
                              </h4>
                            </td>
                          </tr>
                        </table>
                        <table class="row">
                          <table class="row">
                            <tr>
                              <td class="wrapper last">
                                <img width="580" height="387" src="https://www.dropbox.com/s/ud092urusq5irpy/Activation%20Cover%20Photo.jpg?dl=1">
                              </td>
                              <td class="expander"></td>
                            </tr>
                          </table>
                          <table class="row">
                            <tr>
                              <td class="wrapper last text-pad">
                                <p class="lead message-content">
                                  Hi <%= @user.full_name %>, <br><br>
                                  I really appreciate you joining us at Axon, and I know you'll love it when you see how easy it is to be a tutor and deliver a great experience to your students.<br><br>
                                  Axon was built to help tutors grow their personal business, and I hope that we can achieve that for you.
                                  If you wouldn't mind, I'd love if you answered one quick question: why did you sign up for Axon?<br><br>
                                  I'm asking because knowing what made you sign up is really helpful for us in making sure that we're delivering on what our users need. Just hit "reply" and let me know. I check every email.<br><br>
                                  By the way, over the next couple of weeks, we'll be sending you a few more emails to help deliver awesome support to you. In the meantime, if you have any questions, get stuck on next steps, or encounter any issue, feel free to reach out.<br><br>
                                  Thanks,<br>
                                  Eugene<br>
                                  CEO, Axon <br><br>
                                </p>
                              </td>
                            </tr>
                          </table>
                        </table>
                      </td>
                      <td class="expander"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!-- container end below -->
          </td>
        </tr>
      </table>
      </center>
    </td>
  </tr>
</table>