<table>
  <tbody>
    <tr>
      <td>Card Brand</td>
      <td><%= @card_info[:brand] %></td>
    </tr>
    <tr>
      <td>Number</td>
      <td>****<%= @card_info[:last4] %></td>
    </tr>
    <tr>
      <td>Expiration</td>
      <td><%= @card_info[:exp_date] %></td>
    </tr>
  </tbody>
</table>