$black:             #1F1F1F;
$white:             #FAFAFA;
$gray:              #808384;
$grayLT:            #EFEFEF;
$darkPrimaryColor:  #4F5252;
$primaryTextColor:  $darkPrimaryColor;
$accentColor:       #0095AC;
$highlightColor:    #58AA4D;
$ctaColor:          #DE511E;
$buttonColor:       $highlightColor;

// Social colors
$facebook:          #3b5998;
$facebook-hover:    #8b9dc3;
$twitter:           #55acee;
$twitter-hover:     #292f33;

// Input Colors
$input-focus:   #66afe9;

// Flash Colors
$success-color: #4CAF50;
$input-focus: #66afe9;
$alert-color: #FFEB3B;
$error-color: #E91E63;
$notice-color: lighten($accentColor, 40);

// Base Colors
$base-font-color: $primaryTextColor;
$base-background-color: $white !default;
$base-accent-color: $accentColor;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-link-color, 5%);
$base-button-color: $buttonColor;
$hover-button-color: lighten($base-button-color, 5%);
$base-cta-color: $ctaColor;
$hover-cta-color: lighten($base-cta-color, 5%);

// Block Colors

// Hero Colors 
$hero-background-base: $gray;
$hero-color: $white;

$footer-background: $accentColor;
$footer-color: $white;
$footer-link-color: transparentize($footer-color, 0.1);
$footer-disclaimer-color: transparentize($footer-color, 0.1);

// Border color
$base-border-color: $gray;
$featured-border-color: $accentColor;
$base-border: 1px solid $base-border-color;

// Forms Borders
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $input-focus;