<%= image_tag @tutor.profile_pic_url(:large), id: 'cropbox' %>

<%= form_for :profile_pic, url: "/#{@user.id}/crop_profile_pic", method: 'put' do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.hidden_field "crop_#{attribute}" %>
  <% end %>
  <div class="actions">
    <%= f.submit "Crop" %>
  </div>
<% end %>