<script>
var addSlot = function(date, jsEvent, ui ){
  alert("add",date, jsEvent, ui);
}

var updateSlotDuration = function( event, jsEvent, ui, view) {
  alert("update",event, jsEvent, ui, view);
  console.log("update",event, jsEvent, ui, view)
}


  $(document).ready(function() {


    /* initialize the external events
    -----------------------------------------------------------------*/

    $('.fc-event').each(function() {

      // store data so the calendar knows to render an event upon drop
      $(this).data('event', {
        title: $.trim($(this).text()), // use the element's text as the event title
        stick: true // maintain when user navigates (see docs on the renderEvent method)
      });

      // make the event draggable using jQuery UI
      $(this).draggable({
        zIndex: 999,
        revert: true,      // will cause the event to go back to its
        revertDuration: 0  //  original position after the drag
      });

    });


    /* initialize the calendar
    -----------------------------------------------------------------*/

    $('#calendar').fullCalendar({
      slotEventOverlap: false,
      allDaySlot: false,
      minTime: "6:00:00",
      maxTime: "22:00:00",
      defaultTimedEventDuration: "1:00:00",
      height: "auto",
      businessHours: {
          start: '10:00', // a start time (10am in this example)
          end: '10:00', // an end time (6pm in this example)

          dow: [ 0, 1, 2, 3, 4, 5, 6 ]
          // days of week. an array of zero-based day of week integers (0=Sunday)
          // (Monday-Thursday in this example)
      },
      header: {
        left: 'prev,next today',
        right: 'month,agendaWeek,agendaDay'
      },
      defaultView: 'agendaWeek',
      editable: true,
      droppable: true, // this allows things to be dropped onto the calendar
      drop: addSlot,
      eventResizeStop: updateSlotDuration
    });

  });
</script>
<style>
  #scheduling-container {
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    margin-top: 20px;
  }

  #external-events {
    float: left;
    width: 100%;
    height: 300px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: center;
  }

  #external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
    text-align: center;
  }

  #external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
    height: 50px;
    max-width: 130px;
    margin: 15px auto;
  }

  #external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
  }

  #external-events p input {
    margin: 0;
    vertical-align: middle;
  }

  #calendar {
    width: 100%;
  }

  #cal-spacer {
    height: 29.306px;
    margin-bottom: 1em;
  }
</style>

<div class="row">
  <div class="medium-12 columns">
    <h1>Your Schedule</h1>
    <h3 class="subheader">Drag from availability to create your schedule.</h3>
  </div>
</div>
<div class="row">
  <div id="scheduling-container">
    <div id='wrap' class="columns medium-10">
      <div id='calendar'></div>
      <div style='clear:both'></div>
    </div>
    <div class="columns medium-2">
      <div id="cal-spacer"></div>
      <div id='external-events'>
        <h4>Availability</h4>
        <div class='fc-event'>Regular </div>
        <div class='fc-event'>One-Off </div>
      </div>
    </div>
  </div>
</div>
