<h1>Edit Tutor Information</h1>

<div class="row">
  <div class="small-10 large-6 small-centered large-centered columns">
    
    <h6>Your birthdate and phone number will not appear on your profile.</h6>
    
    <p>Phone Number: <%= best_in_place @tutor, :phone_number, :as => :input %></p>
    <p>Birthday: <%= best_in_place @tutor, :birthdate, :as => :input %></p>

    <h6>You will only appear in search results for your classes if your status is set to active.</h6>
    
    <p>Status: <%= best_in_place @tutor, :active_status, :as => :select, :collection => {"0" => "Inactive", "1" => "Active"} %></p>

    <p>Status: <%= best_in_place @tutor, :active_status, as: :checkbox, collection: {false: "Inactive", true: "Active"} %>

    <p>Your transcript is only accessible to Axon Tutors administrators</p>
    TRANSCRIPT
    
    <p>Your profile picture will appear on your public profile</p>
    PROFILE PIC


  </div>
</div>