<h2>This page originally handled the following general settings:</h2>

<h4>-For all Users (Currently handled by Devise)</h4>
  <p>:first_name</p>
  <p>:last_name</p>
  <p>:email</p>
  <p>:password?</p>

<h4>-For only Tutors (Currently handled by Tutors controller, edit action)</h4>
  <p>-all above +</p>
  <p>:birthdate</p>
  <p>:phone number</p>