.contact-btn-icon {
  float: left;
  font-size: 1.5em;
  line-height: 1.2em;
  position: relative;
  left: 1em;
}

.contact-us-text {
  padding: 0 1em;
  display: block;
  font-size: 1em;
  max-width: 20em;
  text-align: center;
}