div.home-search {
  select#subject {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  select#course {
    border-radius: 0;
  }
  #submit-search-home-page {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    height: 2.36em;
    padding: 0;
  }
  select#subject, select#course, #submit-search-home-page {
    font-size: 1em;
    font-weight: 100;
  }
}