.landing-page {
  .section {

    h4.section-title {
      font-size: 2.6em;
      font-weight: 100;
      text-align: center;
      margin: 0.5em auto 1em;
    }
    padding: 1em;
    text-align: center;
    p {
      max-width: 20em;
      margin: auto;
    }

    &.blue-banner {
      background-color: #0095AC;
      h4 {
        color: white;
        font-weight: 100;
      }
    }

    &.how-it-works {
      background-color: #e4e4e4;
      p.number {
        margin: 1em 0;
        display: inline-block;
        padding: 0.45em;
        border-radius: 100%;
        height: 2.5em;
        width: 2.5em;
        background-color: #2BC2DE;
        color: white;
        font-weight: 700;
        font-size: 1.4em;
      }
    }

    &.axon-differences {
      i {
        color: #58AA4D;
        font-size: 3em;
      }
    }

    &.testimonials {
      background-color: #e4e4e4;
      img.testimonial-pic {
        border-radius: 100%;
        width: 100%;
        max-width: 10em;
        margin-top: 1em;
      }
      .blurb {
        margin: 1em auto;
        .name {
          font-size: 0.8em;
          font-weight: 400;
        }
      }
    }

    &.newspaper-quotes {
      background-color: #4F5252;
      padding: 4em 0;
      .newspaper-logo {
        max-height: 3em;
        margin: 2em 0;
      }
      .red-black-logo {
        height: 3em;
      }
      .odyssey-logo {
        padding: 0;
        margin-top: 1em;
      }
      p {
        color: white;
        font-size: 1.2em;
      }
    }
  }
}



// .course-search-box {
//   max-width: 40em !important;
//   select#subject {
//     border-radius: 0;
//   }
//   select#course {
//     border-radius: 0;
//   }
//   #course-search-submit {
//     border-radius: 0 !important;
//     height: 2.36em;
//     padding: 0;
//   }
//   select#subject, select#course, #course-search-submit {
//     font-size: 1em;
//     font-weight: 100;
//     height: 2.5em;
//   }
// }

