.search-header {
    background-color: #2BC2DE;
    box-shadow: 1px 1px 1px #0095AC;
    padding: 1.5em 0 0.5em;
    .find-your-tutor {
        color: white;
        font-weight: 400;
        margin-bottom: 0.5em;
    }
    .course-search-box {
        max-width: 40em;
        select#subject {
          border-top-left-radius: 3px !important;
          border-bottom-left-radius: 3px !important;
        }
        select#course {
          border-radius: 0;
        }
        input#course-search-submit {
          padding: 0;
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
        }
        select#subject, select#course, input#course-search-submit {
          font-size: 1em;
          font-weight: 100;
          height: 2.5em;
        }
    }
}

#tutorCardContainer.cards {
    .cards {
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: center;
        .card {
            width: 14em;
            margin: 1em 0.5em;
            background-color: #F3F3F3;
            box-shadow: 1px 1px 3px #a8a8a8;
            border-radius: 4px;
            overflow: hidden;
            .card-content {
                height: 30em;
                .profile-pic-box {
                    display: block;
                    height: 11em;
                    .profile-pic {
                        height: 12em;
                        width: 14em;
                    }
                }
                .banner-box {
                    display: block;
                    width: 100%;
                    background-color: #2BC2DE;
                    color: white;
                    padding: 0.4em 0;
                    margin: 0;
                    .banner-row {
                        p {
                            display: inline-block;
                            color: white;
                            margin: 0;
                            span {
                                color: white;
                            }
                        }
                        p.name {
                            font-size: 1.2em;
                            position: relative;
                            top: 0.5em;
                            margin-bottom: 0.4em;
                            margin-left: 0.3em;
                        }
                        p.price {
                            background-color: #0095AC;
                            padding: 0.4em;
                            border-radius: 100%;
                            float: right;
                            position: relative;
                            right: 0.3em;
                            span {
                                color: white;
                            }
                        }
                        p.degree {
                            font-size: 0.8em;
                        }
                        i.fi-book-bookmark {
                            padding: 0 0.5em;
                            color: white;
                        }
                    }
                }
                .additional_degrees {
                    background-color: #D4D3D3;
                    text-align: center;
                    p {
                        font-size: 0.7em;
                        padding: 0.5em 0;
                        margin-bottom: 0;
                        i.fi-plus {
                            font-weight: 100;
                            position: relative;
                            right: 1em;
                        }
                    }
                    p.hidden-filler-text {
                        color: #D4D3D3;
                    }
                }
                .statements-box {
                    p {
                        font-size: 0.8em;
                        margin: 0 auto;
                        width: 95%;
                        padding-top: 0.5em;
                    }
                }
            }
            .custom-button.full-width {
                width: 87%;
                margin-top: 0.5em;
            }
        }
    }
}