#tutorCardContainer.cards {
    .cards {
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: center;

        .card {
            max-width: 14em;
            border: 3px solid #2BC2DE;
            border-radius: 4px;
            margin: 1em 0.5em;
            .profile-pic-box {
                display: block;
                .profile-pic {
                    height: 100%;
                    width: 100%;
                }
            }
            .banner-box {
                display: block;
                width: 100%;
                background-color: #2BC2DE;
                color: white;
                padding: 0.5em 0;
                margin: 0;
                .banner-row {
                    p {
                        display: inline-block;
                        color: white;
                        margin: 0;
                        span {
                            color: white;
                        }
                    }
                    p.name {
                        font-size: 1.6em;
                        padding-left: 0.2em;
                    }
                    p.price {
                        background-color: #0095AC;
                        padding: 0.4em;
                        border-radius: 100%;
                        float: right;
                        span {
                            color: white;
                        }
                    }
                    i.fi-book-bookmark {
                        padding: 0 0.5em;
                        color: white;
                    }
                }
            }
            .statements-box {
                p {
                    font-size: 0.8em;
                    margin: 0;
                    padding: 0.5em;
                    a.see-more {
                        font-size: 0.8em;
                        margin-left: 0.5em;
                    }
                }
            }
            .custom-button.full-width {
                width: 87%;
                margin-top: 0.5em;
            }
        }
    }
}