.search-header {
    background-color: #2BC2DE;
    box-shadow: 1px 1px 1px #0095AC;
    padding: 1.5em 0 0.5em;
    .find-your-tutor {
        color: white;
        font-weight: 400;
        margin-bottom: 0.5em;
    }
    .course-search-box {
        max-width: 40em;
        select#subject {
          border-top-left-radius: 3px !important;
          border-bottom-left-radius: 3px !important;
        }
        select#course {
          border-radius: 0;
        }
        input#course-search-submit, button#course-search-submit {
          padding: 0;
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
        }
        select#subject, select#course, input#course-search-submit, button#course-search-submit {
          font-size: 1em;
          font-weight: 100;
          height: 2.5em;
        }
    }
}

#tutorCardContainer.cards {
    .cards {
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: center;
        .card {
            width: 17em;
            margin: 1em 0.5em;
            background-color: #F3F3F3;
            box-shadow: 1px 1px 3px #a8a8a8;
            border-radius: 4px;
            overflow: hidden;
            .card-content {
                height: 33em;
                .profile-pic-box {
                    display: block;
                    .profile-pic {
                        height: auto;
                        width: auto;
                    }
                }
                .banner-box {
                    display: block;
                    width: 100%;
                    background-color: #2BC2DE;
                    color: white;
                    padding: 0.4em 0;
                    margin: 0;
                    .banner-row {
                        p {
                            display: inline-block;
                            color: white;
                            margin: 0;
                            span {
                                color: white;
                            }
                        }
                        p.name {
                            font-size: 1.5em;
                            position: relative;
                            margin-left: 0.3em;
                        }
                        p.price {
                            background-color: #0095AC;
                            padding: 0.6em;
                            font-weight: 400;
                            border-radius: 100%;
                            float: right;
                            position: relative;
                            right: 10px;
                            font-size: 20px;
                            bottom: 20px;
                            span {
                                color: white;
                            }
                        }
                        p.degree {
                            // font-size: 0.8em;
                        }
                        i.fi-book-bookmark {
                            padding: 0 0.5em;
                            color: white;
                        }
                    }
                }
                .tutor-stats {
                    display: block;
                    width: 100%;
                    padding: 5px;
                    margin: 0 0 0 0;
                    .stat-row {
                        border-bottom: solid 1px #D4D3D3;
                        padding: 0.7em 0.2em;
                        font-weight: 100 !important;
                        .has-tip {
                            font-weight: 100;
                            font-size: 17px;
                        }
                        .stat-text {
                            font-size: 20px;
                        }
                    }
                    .even-padding {
                        margin: 6px auto;
                        a {
                            border-bottom: solid 1px;
                            font-weight: 400;
                            font-size: 15px;
                            color: #008CBA;
                        }
                    }
                    .icon {
                        font-size: 19px;
                        padding-top: 2px;
                        padding-left: 6px;
                        float: left;
                    }
                    #new-tutor-icon {
                        font-size: 2em;
                    }
                    span {
                        border: none;
                    }
                    .new-tutor-intro {
                        // font-size: 0.9em;
                        // margin-bottom: 0;
                    }
                }
                .statements-box {
                    p {
                        font-size: 0.8em;
                        margin: 0 auto;
                        width: 95%;
                        padding-top: 0.5em;
                    }
                }
            }
            .custom-button.full-width {
                margin: 0.5em auto;
                width: 90%;
                padding: 0.5em 0;
                font-size: 1.2em;
            }
        }
    }
}
