$serif: 'Roboto Slab';
$san-serif: 'Lato';
$shadow: 1px 1px 1px black;
$blue1: #BBE5EE;
$blue2: #2BC2DE;
$blue3: #0095AC;
$green: #58AA4D;

.tutor-form {
  margin-top: -2em;
  margin-bottom: 1em;
  input#user_first_name, input#user_last_name, input#user_email, input#user_password, input#user_tutor_phone_number, input#rate, select#school, select#subject, select#course, input#user_email, input#user_input {
    height: 2em;
    margin-bottom: 0.3em;
    border-radius: 3px;
    font-size: 1em;
    font-family: 'Lato';
    color: #4F5252;
    font-weight: 100;
  }
  select#school, select#subject, select#course {
    padding: 0 0.5em;
  }
}
.tutor-headline {
  h1 {
    color: white;
    text-shadow: $shadow;
    text-align: center;
    margin-top: 0.5em;
  }
}

.landing-page {
  padding: 1em;
  text-align: center;
}

img.testimonial-pic {
  border-radius: 100%;
  width: 100%;
  max-width: 10em;
  margin-top: 1em;
}
p.testimonial-name {
  font-size: 0.8em;
  font-weight: 400;
  margin-bottom: 2em;
}


p.campus-pic-title {
  font-size: 5em;
  font-weight: 900;
  margin: 0;
  color: rgba(255,255,255,0.5);
}
p.campus-pic-title:hover {
  color: rgba(255,255,255,1);
}
.lp-campus-pics-section {
  background-color: #4F5252;
  color: white;
  padding-top: 0;
}
p.select-campus-pic {
  margin: auto;
  padding: 2em;
  color: white;
}

/* Tutor sign-up form */
.zero-padding {
  padding: 0;
  .tutor-form {
    width: 19em;
    max-width: 100%;
    margin: auto;
    .sign-up-form-box {
      padding: 0 2em 2em;
      border-radius: 4px;
      background-color: #0095AC;
      margin: 3em 0;
      .sign-up-title {
        color: white;
        padding: 0.8em 0 0.4em;
        font-size: 2em;
        margin: 1em -1em 0.5em;
      }
      p {
        color: white;
        font-size: 0.8em;
      }
      .no-padding {
        padding: 0 0.1em 0 0;
      }
    }
    .custom-button {
      font-size: 1em;
    }
  }
}


.green {
  background-color: $green;
}
.landing-page.lp-first-section {
  padding-top: 4em;
}
.nav-campus-box.nav-link-box {
  display: none;
}
.nav-links-right {
  display: none;
}


.landing-page.lp-banner {
  background-color: #0095AC;
  padding: 0.2em;
  .banner {
    color: #fafafa;
    padding: 0.5em;
    font-weight: 100;
  }
}

.landing-page.lp-3-steps-section {
  background-color: #E4E4E4;
  padding: 3em;
  p.number {
    margin: 1em 0;
    display: inline-block;
    padding: 0.45em;
    border-radius: 100%;
    height: 2.5em;
    width: 2.5em;
    background-color: #2BC2DE;
    color: white;
    font-weight: 700;
    font-size: 1.4em;
  }
}

.tutor-headline h1 {
  color: white;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  margin-top: 2em;
  font-size: 3.5em;
}

.difference-box{
  i {
    color: #58AA4D;
    font-size: 3em;
  }
  h5 {
    max-width: 12em;
    margin: auto;
  }
}

.landing-page.lp-testimonial-section {
  background-color: #E4E4E4;
  padding: 2em;
  img.tutor-pic {
    height: 10em;
    border-radius: 100%;
  }
  p.money {
    font-weight: 400;
    font-size: 1.2em;
  }
  span {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 0.9em;
    text-align: right;
    position: relative;
    left: 1em;
  }
}

.landing-page.lp-newspaper-section {
  background-color: #4F5252;
  padding: 4em;
  p.newspaper-quote {
    color: #FAFAFA;
    font-family: 'EB Garamond', serif !important;
    margin: 0;
    font-size: 1.3em;
    &.red-n-black-quote {
      margin-top: -0.5em;
    }
  }
  img.odyssey-logo {
    padding: 0;
    margin-top: 1em;
  }
  img.red-black-logo {
    height: 3em;
  }
}

.section-header {
  text-align: center;
  font-size: 1.8em;
  font-weight: 100;
  margin: 0 auto 1em;
  &.extra-big {
    font-size: 2.6em;
  }
}

.landing-page {
  padding: 2em;
}
