div.box {
  border: 1px solid #BBE5EE;
  padding: 1em;
  border-radius: 4px;
  background-color: #eff1f3; 
}

.v-centered-text-outer {
	display: table;
}

.v-centered-text-inner {
	display: table-cell;
    vertical-align: middle;
}