button, .custom-button {
  // display: block;
  background-color: #58AA4D;  
  font-weight: 100;
  font-family: 'Lato';
  border-radius: 4px !important;
  border: none;
  color: white;
  margin-bottom: 2em;
  text-align: center;
  &.full-width {
    width: 100%;
  }
  &.no-margin {
    margin: 0;
  }
  &.blue {
    background-color: #0095AC;
  }
  &.danger {
    background-color: #DE6328;
  }
  &.hover-light-blue:hover {
    background-color: #2BC2DE;
  }
  &.no-margin {
    margin: 0;
  }
  &.disabled, &.disabled:hover {
    background-color: #D2CECE;
  }
  &.small {
    font-size: 0.8em;
    padding: 0.5em 2em;
  }
  &.medium {

  }
  &.large {
    padding: 1em 3em;
    font-size: 1.2em;
  }

}

.custom-button:hover, .custom-button:active {
  background-color: #0095AC;
  color: white;
  &.blue {
    background-color: #2BC2DE;
  }
}

 .custom-button:visited, .custom-button:link  {
  color: white;
 }