button, .custom-button {
  background-color: #58AA4D;
  padding: 0.5em 2em;
  font-weight: 100;
  font-size: 0.8em;
  font-family: 'Lato';
  border-radius: 4px !important;
  border: none;
  color: white;
  margin-bottom: 1em;
  text-align: center;
  &.full-width {
    width: 100%;
  }
  &.no-margin {
    margin: 0;
  }
  &.blue {
    background-color: #0095AC;
  }
}