// Color variables according to the Axon Branding Guide 2015.

$primary_dark:   #0095AC;
$primary_medium: #2BC2DE;
$primary_light:  #BBE5EE;

$seconday_dark:    #58AA4D;
$secondary_medium: #97CA52;
$secondary_light:  #CFE5AE;

$alert_dark:   #CFE5AE;
$alert_medium: #EA8948;
$alert_light : #F0D6B4;

$text_dark:   #4F5252;
$text_medium: #808384;
$text_light:  #CFCECE;