select {
  border-radius: 4px;
  // max-width: 20em;
}

select#school, select#subject, select#course {
  height: 2em;
  padding: 0 0.5em;
  margin-bottom: 0.3em;
  border-radius: 4px;
  font-weight: 100;
}

// // Not actually a select, but always used alongside school, subject and course selects, thus similar style to select needed
  .rate-container {
    background-color: #E4E4E4;
    border-radius: 4px;
    height: 1.8em;
    margin-bottom: 0.3em;
    font-weight: 100;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    overflow: hidden;
    text-align: center;
  }
  input#rate, .dollar-sign, .per-hour {
    display: inline-block;
    width: 32%;
    color: #A6A6A6;
    height: 100%;
    border-top: 0;
    border-bottom: 0;
    text-align: center;
  }

// Selects need to be smaller for Tutor sign-up form to prevent the entire form from being too large
  form#new_user {
    padding: 0 1.2em;
    input#user_first_name, input#user_last_name, input#user_email, input#user_password, input#user_tutor_phone_number, input#rate {
      height: 2em;
      margin-bottom: 0.3em;
      border-radius: 4px;
      font-weight: 100;
    }  
    select#school, select#subject, select#course {
      height: 2em;
      padding: 0 0.5em;
      margin-bottom: 0.3em;
      border-radius: 4px;
      font-weight: 100;
    }
  }