.blue-link {
  color: #0095AC;
}
.blue-link:hover {
  color: #0D6774;
}
.blue-3 {
  color: #0095AC;
}
.shadow {
  text-shadow: 1px 1px 1px black;
}
.landing-page p {
  text-align: center;
  max-width: 20em;
  width: 100%;
  margin: 1em auto;
}

.center {
  text-align: center;
}