.blue-link {
  color: #0095AC !important;
}
.blue-link:hover {
  color: #0D6774 !important;
}
.center {
  text-align: center;
}
.left-align {
  text-align: left;
}
.right {
  text-align: right;
}
.fine-print {
  margin: 0;
  font-size: 0.8em;
}