/*

  SECTIONS

  1. Text Styles
  2. Borders & Border Radii
  3. Positioning
  4. Links
  5. Display Properties
  6. Max Widths/Heights

*/



//  1. Text Styles
.center {
  text-align: center;
}
.white {
  color: #FAFAFA;
}
.bold {
  font-weight: 700;
}
.small-font {
  font-size: 0.8em;
}
.center-image {
  display: block;
  margin: auto;
}



//  2.  Borders & Border Radii
.border-radius {
  border-radius: 3px !important;
}
.border-radus-left {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}
.border-radius-right {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}
.no-border-radius {
  border-radius: 0 !important;
}
.no-top-border-radius {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}



//  3. Positioning
.height-3em {
  height: 3em;
}
.height-24em {
  height: 24em;
}
.vertical-margin-1em {
  margin: 1em 0 !important;
}
.vertical-margin-2em {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}
.margin-top-1em {
  margin-top: 1em !important;
}
.margin-top-2em {
  margin-top: 2em;
}
.margin-top-3em {
  margin-top: 3em;
}
.margin-top-5em {
  margin-top: 5em;
}
.margin-1em {
  margin: 1em;
}
.margin-bottom-1em, .bottom-margin {
  margin-bottom: 1em !important;
}
.padding-1em {
  padding: 1em;
}
.padding-2em {
  padding: 2em;
}
.padding-top-2em {
  padding-top: 2em !important;
}
.padding-bottom-3em {
  padding-bottom: 3em !important;
}
.zero-padding {
  padding: 0 !important;
}
.no-top-margin {
  margin-top: 0 !important;
}
.margin-bottom-8em {
  margin-bottom: 8em !important;
}
.margin-bottom-3em {
  margin-bottom: 3em !important;
}
.margin-bottom-4em {
  margin-bottom: 4em !important;
}
.margin-bottom-2em {
  margin-bottom: 2em;
}
.margin-bottom-small {
  margin-bottom: 0.5em;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.top-buffer {
  margin-top: 20px !important;
}
.bottom-buffer {
  margin-bottom: 20px !important;
}
.left-margin-1em {
  left-margin: 1em;
}
.top-padding {
  padding-top: 1.5em;
}
.margin-auto {
  display: block;
  margin: auto;
}
.vertical-padding-2em {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}
.vertical-padding-1em {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}
.margin-right-1em {
  margin-right: 1em;
}
.margin-left-2em {
  margin-left: 2em;
}



//  4. Links
.blue-link {
  color: #0095AC !important;
}
.blue-link:hover {
  color: #2BC2DE !important;
}



//  5. Display Properties
.no-show {
  display: none;
}
.show {
  display: inline-block;
}
.display-none { // only used for a hacky space filler on Promotions page to hold the submit btn down in line with the other inputs - can removed once that's fixed in a better way
  color: #eff1f3;
}
.box-shadow {
  box-shadow: 1px 1px 1px #B1B1B1;
}


// 6. Max Widths/Heights
.max-width-16em {
  max-width: 16em;
}
.max-width-20em {
  max-width: 20em;
}
.no-max-width {
  max-width: none;
}
.width-90 {
  width: 90% !important;
}