center {
  text-align: center;
}

.white {
  color: #FAFAFA;
}

.border-radius {
  border-radius: 4px !important;
}
.display-none { // only used for a hacky space filler on Promotions page to hold the submit btn down in line with the other inputs - can removed once that's fixed in a better way
  color: #eff1f3;
}

.height-3em {
  height: 3em;
}

.margin-top-2em {
  margin-top: 2em;
}

.margin-1em {
  margin: 1em;
}

.padding-2em {
  padding: 2em;
}

.height-24em {
  height: 24em;
}

.no-top-margin {
  margin-top: 0;
}

.no-top-border-radius {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.top-buffer {
  margin-top: 20px !important;
}

.bottom-buffer {
  margin-bottom: 20px !important;
}

.bold {
  font-weight: 700;
}

.blue-link {
  color: #0095AC !important;
}
.blue-link:hover {
  color: #2BC2DE !important;
}
.no-show {
  display: none;
}
.show {
  display: inline-block;
}