<div class="row">
  <div class="small-12 medium-8 columns">
    <h1>About Us</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-8 columns">
    <h3 class="vertical-margin-1em">We're here to connect hard-working students with great local tutors</h3>
    <p class="big-text">We know how competitive college is these days. We were founded by students who excelled in difficult college courses and who worked as tutors to help other students who were struggling.</p>
    <p class="big-text">These days, just passing your classes isn't enough to get that summer internship, entry-level job, or admission to graduate school. To be competitive, you need high grades in difficult courses to stand out. Our goal is to help students achieve exactly that.</p>
    <p class="big-text">We provide the best tutoring possible for college students by connecting students with local tutors that are usually upperclassmen or graduate students at the same school. When you book a tutoring session through Axon, you're likely to sit down with a tutor that took your exact class just a few semesters before you, rather than someone who has no direct experience with your college courses and departments.</p>
    <p class="big-text">All of our sessions happen on or near campus, so you will never need to worry about travelling far to meet your tutor. Most sessions happen in the student center, library, or coffee shops--places where you are already studying.</p>
  </div>
</div>
<div class="row margin-bottom-8em">
  <div class="small-12 medium-8 columns">
    <h3 class="vertical-margin-1em">We give tutors the tools to manage their business</h3>
    <p class="big-text">Axon was designed for college tutors by college tutors with years of experience.</p>
    <p class="big-text">We understand the challenges and pain points of being a tutor: your phone constantly ringing before an exam with calls from panicked students, having to print and put up new flyers around campus every semester, and that one student that always forgets to bring your check to a meeting.</p>
    <p class="big-text">We've come up with solutions to all of the common problems that tutors face to make your life as a tutor more manageable. As a tutor using Axon's tools, you'll have an online calendar that students use to book you, which cuts out the time-wasting back and forth that's often the norm. You'll no longer need to flyer since we take care of marketing on-campus and provide you with an online profile page to advertise your experience. And you'll always get paid - even for no-shows - since payments are made online and we have a 24-hour cancellation policy.</p>
    <p class="big-text">Most importantly, Axon pays you what you're worth. You can decide what to charge for each class, and you can change your rates at any point. Instead of taking a large, variable percentage of your pay for each appointment, we always add the same small convenience fee to a student at checkout so prices are predictable and you'll always earn exactly what you want.</p>
  </div>
</div>