<div class="row">
  <div class="small-8 columns margin-top-2em">
    <h1>Contact Us</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-4 medium-centered columns">
    <h3 class="margin-top-1em">Email us</h3>
    <p class="center"><a href="mailto:info@axontutors.com" class="custom-button">info@axontutors.com</a></p>
    <p class="contact-us-text center">Email us anytime day or night and we'll respond quickly</p>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-4 medium-centered columns">
    <h3 class="margin-top-1em">Call us</h3>
    <p class="center"><a href="tel:7625854850" class='custom-button'>(762) 585-4850</a></p>
    <p class="contact-us-text center">Call us during normal business hours<br />(Monday-Friday 9am-5pm EST)</p>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-4 medium-centered columns">
    <h3 class="margin-top-1em">Come give us a high-five</h3>
    <p class="center"><a href="https://www.google.com/maps/place/345+W+Hancock+Ave,+Athens,+GA+30601/@33.9582871,-83.3807507,17z/data=!4m2!3m1!1s0x88f66d2732d1f4a7:0xa4dcf4755d45791e" class="custom-button">Directions to our office</a></p>
    <p class="contact-us-text center margin-bottom-4em">345 W. Hancock Ave<br />Suite 206<br />Athens, GA 30601</p>
  </div>
</div>