<div class="row">
  <div class="small-12 columns">

    <h1>Frequently Asked Questions</h1>

    <h2>FAQs for Students</h2>
    <h6>How much does it cost?</h6>
    <p>It depends. Each tutor sets their own rate, usually based on their level of experience with tutoring and their background in the subject. Most appointments cost between $10-25/hour.</p>

    <h6>Where do I meet my tutor?</h6>
    <p>The tutor will reach out to you after you book an appointment and set up a place to meet. Most of the time sessions happen on campus or at a nearby coffeeshop. If you have a preference, you can let the tutor know when you book the appointment.</p>

    <h6>How do I know that the tutor knows my particular class?</h6>
    <p>When tutors sign up to tutor with us, they choose the classes specific to your campus. Most of our tutors are upperclassmen or graduate students at your school, so they know your particular school and department better than anyone.</p>

    <h6>I have a test tomorrow. Can someone help me tonight?</h6>
    <p>Probably! Tutors set their own availability which you can see online.</p>

    <h6>I haven’t heard from my tutor yet. What do I do?</h6>
    <p>Oh no! Give us a call at 762-585-4850 or send us an email at help@axontutors.com and we would be more than happy to help you get in touch with your tutor.</p>


    <h2>FAQs for Tutors</h2>
    <h6>How much do I get paid?</h6>
    <p>It’s up to you. We want tutors to charge whatever they deem appropriate for the services that
    they provide. That being said, we recommend that tutors look at market rates for their subjects and experience, since price is something that students consider when booking appointments.</p>
    
    <h6>Am I locked into a schedule all semester long?</h6>
    <p>No. You have the freedom to adjust your schedule at any point. We know that in many cases,
    our tutors are students, too. That means studying for big tests, vacations, and last minute
    responsibilities. Feel free to edit your availability however often you want.</p>
    
    <h6>Can I keep my other job (including tutoring for a university)?</h6>
    <p>Yes. Because we are tutors, we know how inconsistent tutoring can be. Most of us used tutoring
    to supplement a regular job or to get some cash while going through school. We also believe that
    our product is the most convenient way to meet students. We want you to use our software for your
    tutoring business because it’s the best, not because you are contractually obligated to do so.</p>
    
    <h6>How much of a fee do you take from me?</h6>
    <p>None. You keep 100% of your rate and there are no subscription fees for using our site. If you
    charge $30/hr to tutor someone, you will receive a full $30. We believe that you should be fully
    compensated for the work you provide. Instead, Axon charges a small convenience fee to the
    student/parent booking the appointment.</p>

    <h6>How many hours am I required to work?</h6>
    <p>None. You can work as much or as little as you like. Most of our tutors setups regular weekly
    times that they are available, but they have the freedom to block off times when they are busy or
    add extra availability when they want it (like finals week).</p>
    
    <h6>How selective can I be when choosing my courses?</h6>
    <p>You can be as selective as you want to be. If you love tutoring Chemistry 1 but hate tutoring
    Chemistry 2, that’s perfectly fine. When you sign up to be a tutor, you choose the specific courses that you want tutor. You also have the freedom to charge more for a particular class than another.</p>
    
    <h6>What if I want to offer group sessions, discounts for my best students, semester
    packages, review sessions, etc.?</h6>
    <p>We can do that. You are the tutor, so you should be in control of your personal business. We
    have already built in several options like group sessions, coupons, and semester deals for students and we can help you set up more personalized tutoring products if you need them. It’s your client base, so we want to help you treat them well.</p>

  </div>
</div>