<section class="secondary-content main" role="main">
  <div class="wrapper">
    <h1>Frequently Asked Questions</h1>
    <h3>Some helpful answers to common questions</h3>
    <p>If you don't find the answer you're looking for here, send us a quick email at <%= link_to 'info@axontutors.com', url: 'mailto:info@axontutors.com' %> and we'll get back to you lickity split.</p>
    
    <p>Or if you're ready to sign up and start making more money as tutoring, click here:</p>
    <%= link_to 'Become a Tutor', become_a_tutor_path, class: 'btn' %>

    <h5><b>Why do bad things happen to good people?</b></h5>
    <p>Karma and re-incarnation are both real things. So even though you might be a nice guy or girl now, you were probably a complete dick in your past life. Who knows? Maybe you were Hitler. Now it seems like you're even kind of getting off easy despite the fact that your boyfriend or girlfriend just dumped you, doesn't it? Life goes on, that is - until you die - at which point it stops. Get over yourself, you're really not that good of a person.</p>

    <h5><b>Is there any nutritonal value to boogers?</b></h5>
    <p>Salami shankle pork meatball pork loin alcatra pork belly short ribs andouille. Ham shoulder cupim porchetta, doner flank pork belly prosciutto. Pastrami shank pork loin salami capicola. Pork chop jerky picanha meatball pancetta.</p>

    <h5><b>Does George Bush really hate black people?</b></h5>
    <p>Salami shankle pork meatball pork loin alcatra pork belly short ribs andouille. Ham shoulder cupim porchetta, doner flank pork belly prosciutto. Pastrami shank pork loin salami capicola. Pork chop jerky picanha meatball pancetta.</p>

    <h5><b>If I stop taking birth control, should I tell my boyfriend?</b></h5>
    <p>Salami shankle pork meatball pork loin alcatra pork belly short ribs andouille. Ham shoulder cupim porchetta, doner flank pork belly prosciutto. Pastrami shank pork loin salami capicola. Pork chop jerky picanha meatball pancetta.</p>

    <h5><b>I'm a pretty basic bitch, will Axon tutoring help me too?</b></h5>
    <p>Salami shankle pork meatball pork loin alcatra pork belly short ribs andouille. Ham shoulder cupim porchetta, doner flank pork belly prosciutto. Pastrami shank pork loin salami capicola. Pork chop jerky picanha meatball pancetta.</p>
  </div>
</section>