<style>

p {
  font-family: 'Roboto Slab';
}
.landing-page-top {
}
.center {
  text-align: center;
}
.white {
  color: white;
}
.blue-3 {
  color: #0095AC;
}
.shadow {
  text-shadow: 1px 1px 1px black;
}
.school-selection-box {
  display: block;
  width: 40%;
  margin: auto;
}
.school-selection {
  display: inline-block;
  width: 49%;
  height: ;
  text-align: center;
  background-color: #0095AC;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  font-size: 0.8em;
}
.numbers-banner {
  display: block;
}
.top-padding {
  padding-top: 1.5em;
}
</style>
<div class="top-image-bg">
  <div class="row landing-page-top">
    <h1 class="center white shadow top-padding">Meet your personal campus tutor</h1>
    <h2 class="center blue-3 shadow">Choose your campus:</h2>
    <div class="school-selection-box">
      <p class="school-selection">University of Georgia</p>
      <p class="school-selection">Georgia State</p>
      <p class="school-selection">Appalachian State</p>
      <p class="school-selection">Kennesaw State</p>
    </div>
    <p class="center white shadow">Book your in-person & on-campus tutor in just two minutes</p>
    <div class="numbers-banner">
      <p>Join over 2,000 students on Axon</p>
      <p>Over 6,000+ tutoring sessions</p>
      <p>Featured in: The Odyssey | Red & Black</p>
    </div>
  </div>
</div>