<%= javascript_include_tag "single_views/search" %>
<%= render 'dashboard/courses/course_selector', options: { rate: false } %>
<input id="tutorSearchButton" type="submit" class="button radius success tiny right" style="margin-left: 20px; margin-right: 20px" id="add_course_button" value="Search"></input>
<div id="tutorCardContainer"></div>