<%= javascript_include_tag "single_views/search" %>

<div class="row">
  <div class="medium-4 small-12 columns">
    <%= render '/course_selector/school' %>
  </div>
  <div class="medium-2 small-12 columns">
    <%= render '/course_selector/subject' %>
  </div>
  <div class="medium-4 small-12 columns">
    <%= render '/course_selector/course' %>
  </div>
  <div class="medium-2 small-12 columns">
    <input id="tutorSearchButton" type="submit" class="button radius success tiny right" value="Search"></input>
  </div>
</div>

<div class="row">
  <div id="tutorCardContainer">
    <p>Welcome and instructions go here</p>
  </div>
</div>
