<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a new appointment!</h1>

    <h4>Appointment Details</h4>

    <p>Time: <%= @appt.start_time %> </p>
    <p>Location: ? </p>
    <p>Student <%= @appt.student.full_name %></p>
    <p>Class: ? </p>
    <p>Notes: ? </p>

  </body>
</html>