<section class="main register login" role="main">
  <div class="wrapper">
    <h1 class="title">Register</h1>
    <form class="registration">
      <div class="callout--login-redirect">
        <p>Already Registered? <a href="#">Login Here</a></p>
      </div>
      <%= render 'sign_up_form' %>
    </form>   
  </div>
</section>