<section class="main register login" role="main">
  <div class="wrapper">
    <h1 class="title">Register</h1>
    <div class="callout--login-redirect">
      <p>Already Registered? <a href="/sign_in">Login Here</a></p>
    </div>
    <%= render 'sign_up_form' %> 
  </div>
</section>