  <form class="dashboard-form contact-info">
    <div class="form-group">
      <label for="text">Text Input <abbr title="Required">*</abbr></label>
      <input id="text" class="form-control" type="text" placeholder="Text Input">
    </div>
    <div class="form-group">
      <label for="text2">Text Input 2<abbr title="Required">*</abbr></label>
      <input id="text2" class="form-control" type="text" placeholder="Text Input 2">
    </div>
    <div class="form-group">
      <label for="emailaddress">Email Address<abbr title="Required">*</abbr></label>
      <input id="emailaddress" class="form-control" type="email" placeholder="name@email.com">
    </div>
    <div class="form-group">
      <label for="text">Number Input<abbr title="Required">*</abbr></label>
      <input id="phone" class="form-control" type="tel" placeholder="000-000-0000">
    </div>
    <input type="submit" class="btn" value="Save My Info" />
  </form>