<table class="body">
  <tr>
    <td class="center" align="center" valign="top">
      <table class="container">
        <tr>
          <td>
            <table class="row">
              <tr>
                <td class="wrapper last">
                  <table class="twelve columns">
                    <tr>
                      <td class="panel text-pad body-container">
                         <img width="600" height="198" src="http://axontutors.s3.amazonaws.com/axon_logo_color.png">
                        <table class="row">
                          <tr>
                            <td class="wrapper last center text-center">
                              <h4 align="center" class="title text-center">
                        
                              </h4>
                            </td>
                          </tr>
                        </table>
                        <table class="row">
                          <table class="row">
                            <tr>
                              <td class="wrapper last text-pad">
                                <p class="lead message-content">
                                  Hi <%= @tutor.first_name.capitalize %>,<br><br>
                                  You are all set! We made sure that your profile and picture updated well and you are ready to start booking tutoring appointments.<br><br>
                                  The process has not changed too much--you will still get an email when you are booked and it will be up to you to set a meeting place. All of your appointments will be visible on your personal dashboard, and you will be paid for sessions no later than 48 hours after the session.<br><br>
                                  Thanks for continuing to trust us with your tutoring business. We know how important it is for us to provide a quality service to you and your students, so if you have any comments or questions, please let us know.<br><br>
                                  All the best,<br>
                                  Katie<br>
                                  COO, Axon<br><br>
                                </p>
                              </td>
                            </tr>
                          </table>
                        </table>
                      </td>
                      <td class="expander"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!-- container end below -->
          </td>
        </tr>
      </table>
      </center>
    </td>
  </tr>
</table>