<table class="body">
  <tr>
    <td class="center" align="center" valign="top">
      <table class="container">
        <tr>
          <td>
            <table class="row">
              <tr>
                <td class="wrapper last">
                  <table class="twelve columns">
                    <tr>
                      <td class="panel text-pad body-container">
                         <img width="600" height="198" src="http://axontutors.s3.amazonaws.com/axon_logo_color.png">
                        <table class="row">
                          <tr>
                            <td class="wrapper last center text-center">
                              <h4 align="center" class="title text-center">
                              </h4>
                            </td>
                          </tr>
                        </table>
                        <table class="row">
                          <table class="row">
                            <tr>
                              <td class="wrapper last text-pad">
                                <p class="lead message-content">
                                  Hi <%= @tutor.first_name.capitalize %>,<br><br>
                                  Thanks for logging into our new site! We really hope you like our new look. As soon as you are done updating your information, we will go ahead and activate you.<br><br>
                                  Feel free to reach out to us with any concerns that you have about the new website. We read every email.<br><br> 
                                  Happy Tutoring,<br>
                                  Axon<br>
                                  info@axontutors.com<br>
                                  (762) 585-4850<br><br>
                                </p>
                              </td>
                            </tr>
                          </table>
                        </table>
                      </td>
                      <td class="expander"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!-- container end below -->
          </td>
        </tr>
      </table>
      </center>
    </td>
  </tr>
</table>