  <div class="card">
    <div class="card-image">
      <img src="http://placehold.it/200x200" alt="{{ img.landscape-4x3.alt }}" />
    </div>
    <div class="card-header">
      <h3 class="title">{{ headline.short }}</h3>
    </div>
    <div class="card-copy">
      <ul class="tutor-qualifications">
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Fuga, officiis sunt neque facilis culpa molestiae.</li>
        <li>Fuga, officiis sunt neque facilis culpa molestiae.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Fuga, officiis sunt neque facilis culpa molestiae.</li>
      </ul>
      <a href="{{ url }}" class="btn">Book Now</a></li>
    </div>
    <div class="cost">
      <p>$25</p>
    </div>
  </div>
