<div class="row">
  <div class="small-12 medium-3 columns">
    <div class="newspaper-logo">
      <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/miscellaneous/red-n-black.png', class: 'red-black-logo') %>
    </div>
  </div>
  <div class="small-12 medium-3 columns">
    <p>"students getting better grades since Axon launched on campus."</p>
  </div>
  <div class="small-12 medium-3 columns">
    <div class="newspaper-logo">
      <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/miscellaneous/odyssey.png', class: 'odyssey-logo') %>
    </div>
  </div>
  <div class="small-12 medium-3 columns">
    <p>"Axon is changing the way tutors do business."</p>
  </div>
</div>



