<div class="row">
  <div class="small-12 columns">
    <h4 class="section-title">Thousands Of Students Are Getting Better Grades With Axon</h4>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-6 columns">
    <div class="testimonial-pic">
      <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/tutor-student-pics/student-testimonial-chandler.png', class: 'testimonial-pic') %>
    </div>
    <div class="blurb">
      <p>"Axon is my go-to whenever I need a little extra help with whatever subject I'm struggling in. The tutors are always well-informed and capable of answering my questions. Axon tutoring is a great study tool because I can have one-on-one attention that fits into my own schedule."</p>
      <p class="name">Chandler J., '18</p>
    </div>
  </div>
  <div class="small-12 medium-6 columns">
    <div class="testimonial-pic">
      <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/tutor-student-pics/student-testimonial-amy.png', class: 'testimonial-pic') %>
    </div>
    <div class="blurb">
      <p>"I've used Axon for the past two years and don't know how I would have gotten through my classes without them. I feel much more prepared before each test I take and the tutoring is very personalized to every student's learning style."</p>
      <p class="name">Amy B., '18</p>
    </div>
  </div>
</div>