<div class="row small-collapse medium-uncollapse">
  <div class="small-12 columns">
    <h4 class="section-title">How Axon Works</h4>
  </div>
</div>
<div class="row small-collapse medium-uncollapse">
  <div class="small-12 medium-4 columns">
    <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/miscellaneous/homepage_image_1_.jpg', class: 'border-radius') %>
    <p class="number">1</p>
    <h4>Select your class</h4>
    <p>Find the class you are struggling with on your specific campus</p>
  </div>
  <div class="small-12 medium-4 columns">
    <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/miscellaneous/Homepage+Image+2+.jpg', class: 'border-radius') %>
    <p class="number">2</p>
    <h4>Choose a tutor & time</h4>
    <p>Browse through vetted tutors and then select a time that works for you</p>
  </div>
  <div class="small-12 medium-4 columns">
    <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/miscellaneous/Homepage+Image+3.jpg', class: 'border-radius') %>
    <p class="number">3</p>
    <h4>Meet right on campus</h4>
    <p>Meet with your personal tutor on campus at an arranged location</p>
  </div>
</div>