<div class="row small-collapse medium-uncollapse">
  <div class="small-12 columns">
    <h4 class="section-title">Join hundreds of tutors working with Axon</h4>
  </div>
</div>
<div class="row small-collapse medium-uncollapse">
  <div class="small-12 medium-6 columns">
    <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/tutor-student-pics/tutor-testimonial-dibble.jpeg', class: 'tutor-pic') %>
    <div class="blurb">
      <p class="money">Earned $3,452 in one semester</p>
      <p>"Axon gave me the pay that I deserved and the flexibility that my traditional university job didn't provide."</p>
      <p class="name">Michael D.</p>
    </div>
  </div>
  <div class="small-12 medium-6 columns">
    <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/tutor-student-pics/tutor-testimonial-mary.jpeg', class: 'tutor-pic') %>
    <div class="blurb">
      <p class="money">Earned $3,925 in one semester</p>
      <p>"I love the flexibility that Axon gives me to create my own schedule."</p>
      <p class="name">Mary L.</p>
    </div>
  </div>
</div>