<div class="row">
  <div class="small-12 columns">
    <h4 class="section-title">How Axon works</h4>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-4 columns">
    <p class="number">1</p>
    <h5>Tell us which classes you want to tutor</h5>
    <p>Select specific classes on your campus that you want to tutor. Choose just one or many more depending on your experience.<p>
  </div>
  <div class="small-12 medium-4 columns">
    <p class="number">2</p>
    <h5>Choose your own rates and set your own schedule</h5>
    <p>Decide what you want to get paid for a one-hour session. Select the hours that you want to work on your online calendar.<p>
  </div>
  <div class="small-12 medium-4 columns">
    <p class="number">3</p>
    <h5>Get booked quickly & easily online</h5>
    <p>Once you are approved, students can view your profile, book you for an appointment and pay in under a minute.<p>
  </div>
</div>