<div class="row small-collapse medium-uncollapse">
  <div class="small-12 columns">
    <h4 class="section-title">What makes Axon different?</h4>
  </div>
</div>
<div class="row small-collapse medium-uncollapse">
  <div class="small-12 medium-6 columns">
    <div class="difference-box">
      <i class="fi-star"></i>
      <h5>You decide what to charge and keep 100% of your rate</h5>
      <p>Too many tutoring companies take unfair cuts when it comes to tutor pay. With Axon, we don't set prices - you do. That means you decide how much you want to charge and you get paid whatever rate you set.</p>
    </div>
  </div>
  <div class="small-12 medium-6 columns">
    <div class="difference-box">
      <i class="fi-crown"></i>
      <h5>Be your own boss<br />Set your own hours</h5>
      <p>With Axon's tools, you set your own hours and decide when and how often you want to tutor. Whether it's an hour a day, or a few hours each month, it's all up to you.</p>
    </div>
  </div>
</div>
<div class="row small-collapse medium-uncollapse">
  <div class="small-12 medium-6 columns">
    <div class="difference-box">
      <i class="fi-checkbox"></i>
      <h5>Every booking is confirmed</h5>
      <p>Once a student books you, there is no need to message back and forth. Each booking is confirmed, simply show up and payments go straight into your bank account.</p>
    </div>
  </div>
  <div class="small-12 medium-6 columns">
    <div class="difference-box">
      <i class="fi-credit-card"></i>
      <h5>Get paid quickly</h5>
      <p>As soon as you meet with a student, your payment begins processing and is deposited into your bank account within 48 hours. We also offer protections for tutors, so if a student doesn't show, you still get paid.</p>
    </div>
  </div>
</div>