<div class="row">
  <div class="small-12 columns">
    <div class="booking-progress-title">
      <div class="row">
        <div class="small-12 columns">
          <h5 class="small-margins">Current Booking Progress</h5>
        </div>
      </div>
    </div>
    <div class="booking-progress-headers">
      <div class="row">
        <div class="small-12 medium-4 columns">
          <h6 class="small-margins">Course</h6>
        </div>
        <div class="small-12 medium-4 columns">
          <h6 class="small-margins">Meeting Times</h6>
        </div>
        <div class="small-12 medium-4 columns">
          <h6 class="small-margins">Location</h6>
        </div>
      </div>
    </div>
    <div class="booking-progress-data">
      <div class="row">
        <div class="small-12 medium-4 columns">
          <p class="small-margins"><%= Course.find(session[:course_id]).formatted_name %></p>
        </div>
        <div class="small-12 medium-4 columns">
          <% @booking_preview[:appointments].each do |k,v| %>
            <tr>
              <p class="small-margins"><%= v[:start_time].to_datetime.strftime('%B %e, %Y at %l:%M %p') %></p>
            </tr>
          <% end %>
        </div>
        <div class="small-12 medium-4 columns">
          <p class="small-margins"><%= session[:location] %></p>
        </div>
      </div>
    </div>
  </div>
</div>