<!-- Partial for bottom 'Complete Your Booking' box for returning users who do NOT have a saved card -->
<div class="row">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <h3 class="margin-top-2em margin-bottom-small">Complete Your Booking</h4>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="box margin-bottom-4em zero-padding">
      <div class="padding-1em">
        <div class="row">
          <div class="small-12">
            <h4>Payment Information</h4>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-8 columns">

          <form action="/tutors/<%= @tutor.slug %>/process_booking" method="POST" id="payment-form">

            <div class="box zero-padding vertical-margin-1em" id="new-card-form">
              <div class="row">
                <div class="small-12 medium-6 columns">
                  <span class="checkout-card-errors"></span>
                  <label>
                    <span>Card Number</span>
                    <input type="text" class="card-form-input border-radius" data-stripe="number" required="true"/>
                  </label>
                  <div class="row small-collapse">
                    <div class="small-6 medium-3 columns zero-padding">
                      <label>
                        <span>Month</span>
                        <select required="true" data-stripe="exp-month" class="card-form-input">
                          <option value="1" selected="true">1</option>
                          <option value="2" selected="true">2</option>
                          <option value="3" selected="true">3</option>
                          <option value="4" selected="true">4</option>
                          <option value="5" selected="true">5</option>
                          <option value="6" selected="true">6</option>
                          <option value="7" selected="true">7</option>
                          <option value="8" selected="true">8</option>
                          <option value="9" selected="true">9</option>
                          <option value="10" selected="true">10</option>
                          <option value="11" selected="true">11</option>
                          <option value="12" selected="true">12</option>
                        </select>
                      </label>
                    </div>
                    <div class="small-6 medium-3 medium-offset-1 columns zero-padding">
                      <label>
                        <span>Year</span>
                        <select required="true" data-stripe="exp-year" class="card-form-input">
                          <option value="2015" selected="true">2015</option>
                          <option value="2016" selected="true">2016</option>
                          <option value="2017" selected="true">2017</option>
                          <option value="2018" selected="true">2018</option>
                          <option value="2019" selected="true">2019</option>
                          <option value="2020" selected="true">2020</option>
                          <option value="2021" selected="true">2021</option>
                          <option value="2022" selected="true">2022</option>
                          <option value="2023" selected="true">2023</option>
                          <option value="2024" selected="true">2024</option>
                          <option value="2025" selected="true">2025</option>
                          <option value="2026" selected="true">2026</option>
                          <option value="2027" selected="true">2027</option>
                          <option value="2028" selected="true">2028</option>
                          <option value="2029" selected="true">2029</option>
                          <option value="2030" selected="true">2030</option>
                        </select>
                      </label>
                    </div>
                    <div class="small-6 medium-3 medium-offset-2 columns zero-padding">
                      <label>
                        <span>CVC</span>
                        <input type="text" class="card-form-input border-radius" data-stripe="cvc" required="true"/>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="small-12 medium-6 columns padding-1em">
                  <input type="radio" name="save_card" value="true" checked="true" class="card-form-input">
                  <span class="save-card-radio">Save this card as my default</span><br />
                  <input type="radio" name="save_card" value="false" class="card-form-input">
                  <span class="save-card-radio">Don't save this card</span>
                  <p class="small-font">Security Notice: We store all of our customers' card details on a secure PCI compliant server managed by <a href="https://stripe.com/about" target="_blank" class="blue-link">Stripe</a>.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row submit-bar">
        <div class="small-12 medium-6 medium-offset-6 columns">
          <button type="submit" class="custom-button full-width create-and-pay-btn">Complete Booking & Pay</button>
        </div>
      </div>
    
    </form>

    </div>
  </div>
</div>