// Place all the styles related to the dashboard/student/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box {
  &.no-appts {
    padding: 4em;
  }
  &.no-padding {
    padding: 0;
  }
}

#student-dashboard-search-form {
  .course-search-box {
    max-width: 40em;
    select#subject {
      border-top-left-radius: 3px !important;
      border-bottom-left-radius: 3px !important;
    }
    select#course {
      border-radius: 0;
    }
    input#course-search-submit {
      padding: 0;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
    select#subject, select#course, input#course-search-submit {
      font-size: 1em;
      font-weight: 300;
      height: 2.5em;
    }
  }
}

// review card - one is shown for each appointment needing review on home screen of student dashboard
.review-card {
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    background-color: #EFEFEF;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 1px 1px 1px gray;
    .tutor-box {
        display: inline-block;
        background-color: #0095AC; 
        border-radius: 4px;
        .review-tutor-pic {
          display: block;
          height: 5em;
          margin: auto;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
        p.tutor-name {
          font-weight: 400;
          text-align: center;
          color: white;
          margin: 0.5em auto;
          font-weight: 300;
        }
    }
    p.appt-details {
        margin: 0;
    }
    // box with "Was it helpful?" label
    .helpful-box {
        background-color: #DEDEDE;
        border-radius: 4px;
        padding: 0.5em;
        .thumb-mask-box {
            // makes normal looking radio button disappear but stay in place
            label input {
                position: absolute;
                opacity: 0;
            }
            // sets default thumb icon style
            .thumb-mask {
                color: #A9A9A9;
                font-size: 2.8em;
                text-align: center;
            }
            // makes like button green and dislike button red: on hover & when checked
            &:hover + .thumb-mask, input:checked + .thumb-mask {
                &.positive {
                    color: #58AA4D;
                }
                &.negative {
                    color: #DE6328;
                }
            }
        }
    }
}

#reschedule-confirm {
  h3, p {
    text-align: center;
  }
  h3 {
    color: white;
    background-color: #0095AC;
    padding: 0.7em 1em;
    border-radius: 4px;
  }
  p {
    font-size: 1.5em;
    font-weight: 400;
    span {
      font-weight: 900;
    }
  }
}