<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Dear <%= @user.full_name %>, as Kenny Powers would say: </h3>
    <h1>"You're Fucking Out!"</h1>
  
    <p>Also, <a href="<%= @url %>">check this out, loser.</p>
  </body>
</html>