<nav class="calendar-nav">
  <ul class="navigation-menu navigation--schedule">
    <li class="menu-item">
      <a href="#" class="btn date-range-paginate previous" alt="This Week" title="This Week" rel="nofollow"><span class="fi-arrow-left"></span> Previous Week</a></li>
    <li class="menu-item">
      <a href="#" class="btn date-range-paginate next" alt="Next Week" title="Next Week" rel="nofollow">Next Week <span class="fi-arrow-right"></span></a></li>
  </ul>
</nav>
<ul class="schedule weekly-schedule">
  <li class="day monday">
    <label for="monday">Mon</label>
    <input id="monday" name="radio" type="radio" class="radio" checked>  
    <ul class="available-times">
      <li><a href="#">1:30pm</a></li>
      <li><a href="#">1:30pm</a></li>
      <li><a href="#">1:30pm</a></li>
    </ul>
  </li>
  <li class="day tuesday">
    <label for="tuesday">Tues</label>
    <input id="tuesday" name="radio" type="radio" class="radio">
    <ul class="available-times">
      <li><a href="#">1:30pm</a></li>
      <li><a href="#">1:30pm</a></li>
      <li><a href="#">1:30pm</a></li>
      <li><a href="#">1:30pm</a></li>
      <li><a href="#">1:30pm</a></li>
    </ul>
  </li>
  <li class="day wednesday">
    <label for="wednesday">Wed</label>
    <input id="wednesday" name="radio" type="radio" class="radio">
    <ul class="available-times">
      <li><a href="#">1:30pm</a></li>
      <li><a href="#">1:30pm</a></li>
      <li><a href="#">1:30pm</a></li>
      <li><a href="#">1:30pm</a></li>
      <li><a href="#">1:30pm</a></li>
    </ul>
  </li>
  <li class="day thursday">
    <label for="thursday">Thurs</label>
    <input id="thursday" name="radio" type="radio" class="radio">
    <ul class="available-times">
      <li><a href="#">1:30pm</a></li>
      <li><a href="#">1:30pm</a></li>
      <li><a href="#">1:30pm</a></li>
      <li><a href="#">1:30pm</a></li>
    </ul>
  </li>
  <li class="day friday">
    <label for="friday">Fri</label>
    <input id="friday" name="radio" type="radio" class="radio">
    <ul class="available-times">
      <li><a href="#">1:30pm</a></li>
      <li><a href="#">1:30pm</a></li>
      <li><a href="#">1:30pm</a></li>
      <li><a href="#">1:30pm</a></li>
      <li><a href="#">1:30pm</a></li>
    </ul>
  </li>
  <li class="day satuday">
    <label for="saturday">Sat</label>
    <input id="saturday" name="radio" type="radio" class="radio">
    <ul class="available-times">
      <li><a href="#">1:30pm</a></li>
      <li><a href="#">1:30pm</a></li>
      <li><a href="#">1:30pm</a></li>
      <li><a href="#">1:30pm</a></li>
      <li><a href="#">1:30pm</a></li>
    </ul>
  </li>
  <li class="day sunday">
    <label for="sunday">Sun</label>
    <input id="sunday" name="radio" type="radio" class="radio">
    <ul class="available-times">
      <li><a href="#">1:30pm</a></li>
      <li><a href="#">1:30pm</a></li>
    </ul>
  </li>
</ul>