  <section class="main how-does-axon-work" role="main">
    <div class="wrapper">
      <h2 class="title">How Does Axon Work?</h2>
      <ul class="axon-usage-steps">
        <li class="usage-step">
          <h3 class="title">Select a Something, Do something</h3>
          <img src="http://placehold.it/150x250" />
          <p class="step-info">Select a lorum, ipsem, dolar sit amet.</p>
          <p class="numeral">1</p>
        </li>
        <li class="usage-step">
          <h3 class="title">Select a Something, Do something</h3>
          <img src="http://placehold.it/150x250" />
          <p class="step-info">Select a lorum, ipsem, dolar sit amet.</p>
          <p class="numeral">2</p>
        </li>
        <li class="usage-step">
          <h3 class="title">Select a Something, Do something</h3>
          <img src="http://placehold.it/150x250" />
          <p class="step-info">Select a lorum, ipsem, dolar sit amet.</p>
          <p class="numeral">3</p>
        </li>
      </ul>
    </div>
  </section>