	<section class="main dashboard calendar" role="main">
    <div class="wrapper">
      <div class="availability-options">
        {{> molecules-class-select }}
      </div>
      <div class="availability-calendar fullcalendar">
        {{> molecules-calendar }}
      </div>
    </div>
  </section>