	<section class="student-dashboard main" role="main">
		<div class="wrapper">
			<div class="gi-1-5">
				{{> molecules-student-dashboard-nav }}
			</div>
			<div class="gi-4-5">
				<h1 class="title">Contact Information</h1>
				<p>We use this information to track you down and throw things at you if you don't pay the tutors</p>
				{{> molecules-contact }}
			</div>
		</div>
	</section>
