<div class="submission-box">
  <h4 class="submission-title">Thanks for submitting your application!</h4>
  <p class="submission-text">Your application is now being reviewed by the Axon tutor management team. We're excited to review your application and we will get back to you as soon as possible.</p>
  <p class="submission-text">While you wait, you can continue to setup your account by following the links in the <a href="#activation-checklist">Activation Checklist</a>.</p>
  <p class="submission-text">If you have any questions or concerns, please contact us with the link below:</p>
  <%= mail_to 'help@axontutors.com' do %>
    <button class="email-button"><i class="fi-mail email-icon"></i>Tutor Registration Help</button>
  <% end %>
</div>  