<div class="submission-box">
  <h4 class="submission-title">Thanks for submitting your application!</h4>
  <p class="submission-text">Your application is now being reviewed by the Axon tutor management team. You will recieve a reply in the next 48 hours. While you wait, you can continue to setup your account by completing the rest of the checklist. If you have any questions or concerns, please contact us with the link below:</p>
  <%= mail_to 'help@axontutors.com' do %>
    <button class="email-button"><i class="fi-mail email-icon"></i>Tutor Registration Help</button>
  <% end %>
</div>  