<div class="row">
  <div class="large-10 large-offset-1 columns">
    <h2 class="text-center">Congratulations, you're on your way to becoming an Axon tutor</h2>
    <h4 class="text-center">To access your Tutor dashboard and complete your profile, you need to log into your account. Login or create a new account now</h4>
  </div>
</div>

<div class="row">
  <div class="large-6 large-offset-3 columns">
    <%= link_to 'Sign In', visitor_sign_in_tutor_path(@tutor), class: 'button expand' %>
  </div>
</div>
<div class="row">
  <div class="large-6 large-offset-3 columns">
    <%= link_to 'Sign Up', visitor_sign_up_tutor_path(@tutor), class: 'button expand' %>
  </div>
</div>