#wrap, #options-header
  background: #EAEAEA
#axoncalendar
  margin-bottom: 20px
#wrap
  border-radius: 0px 3px
#options-header
  padding: 20px 0
  border-radius: 3px 3px 0px 0px
#scheduling-container
  text-align: center
  font-size: 14px
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, Sans-Serif
  margin-top: 0px
#calendar
  width: 100%
#calendar-divider
  border: 3px solid #dddddd
#availability-slots-section
  padding: 0 15px
  h4
    font-size: 16px
    margin-top: 0
    padding-top: 1em
    text-align: center
  p
    margin: 1.5em 0
    font-size: 11px
    color: #666
    input
      margin: 0
      vertical-align: middle
  .regular-availability, .one-off-availability
    text-align: center
  .regular-availability
    background: #009688
  .one-off-availability
    background: #FF9100
    border: none 
  .fc-event
    position: relative
    height: 50px
    display: table
    width: 165px
    padding-top: 5px
    font-weight: bold 
    transition-duration: 0.4s
    transition: box-shadow, transform
    h4
      color: white
      padding: 0
    &.ui-draggable
      cursor: -webkit-grab
    &.ui-draggable-dragging
      cursor: -webkit-grabbing
    i.fi-widget
      $main-color: #0095AC
      $accent-color: #0095AC
      position: absolute
      top: -10px
      right: -10px
      padding: 2px 5px 2px 5px
      font-size: 16px
      color: $accent-color
      background: $main-color
      border-radius: 20px
      border: none 
      cursor: pointer

  .fc-event:hover
    box-shadow: 4px 4px 3px #888888 
    transform: scale(1.05,1.05)

#repeating-options       
  .prefix:first-of-type
    text-align: left
    background: #EAEAEA
    border: none
  .postfix:first-of-type
    color: #FFFFFF
    background: #EAEAEA
    border: none
    text-align: left
  #weeksToRepeat:first-of-type
    border-radius: 4px !important
    text-align: center
    border-right-width: 1px !important
    width: 60px


//Toolbar
.fc-toolbar
  background: #607D8B
  margin-bottom: 0
  border-top-left-radius: 3px
  border-top-right-radius: 3px
  padding-bottom: 15px
  .fc-center h2
    color: #fff
  .fc-left .fc-today-button
    color: #fff


//Background of DOWS
.fc-head
  background: #607D8B
  margin-bottom: 0

//Body of the calendar
.fc-body
  margin-top: 0

// Edit appeaance of today in schedule
.fc-today
  opacity: 0
  border: none

.fc-widget-header
  background: #607D8B
  color: white

//This the text dsiplaying the time on the right side of calendar
.fc-ltr .fc-axis
  font-weight: bolder
  color: #424242 

//The rows between each hour on the calendar
.fc-minor
  background: #F5F5F5 

// Styling for each event from Schedule 
.fc-time-grid-event.fc-v-event.fc-event
  border-radius: 3px
  border: none
  padding: 5px
  left: 5% !important
  right: 5% !important

// Header borders
.fc th, .fc-head-container, .fc-widget-header
  border: none !important

// Table boders
.fc-axis .fc-time .fc-widget-content
  border-style: solid
  border-width: 1px
  padding: 0
  vertical-align: top
  border-right: 3px solid blue
  border-left: 3px solid red
  border-top: none
  border-bottom: none !important

// Remove border from calendar
.fc-view table
  &:first-child
    border: none
    margin-top: 0

// Use normal weight for each time in the event
.fc-time-grid-event .fc-time
  font-weight: normal !important

//The buttons 
.fc-button
  border-radius: 3px !important
  border-color: #607D8B
  border-width: 0
  margin: 4px !important
  width: 50px !important
  color: white 
  background: #607D8B !important
  box-shadow: none !important
  text-shadow: none !important
  .fc-state-default
    border-radius: 3px 
    margin: 4px 
  &.fc-state-hover
    background-color: #E0E0E0 !important
    color: #607D8B 
  &.fc-state-active
    border-bottom: 1px white solid !important
    border-radius: 0 !important
