<style>
.step-two {
  font-weight: 400;
}
.step-one, .step-three, .step-four {
  color: #a8a8a8;
}
.step-one {
  text-decoration: line-through;
}
</style>
<div class="small-12 medium-7 columns">
  <h1>STEP 2</h1>
</div>
<div class="small-12 medium-5 columns">
  <%= render 'layouts/partials/tutor_onboarding/new_tutor_checklist' %>
</div>