// Place all the styles related to the dashboard/tutor/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.dashboard-content.tutor-home-page {
  p, h3, h5, h6 {
    text-align: center;
    max-width: none;
  }
  p.list-item {
    margin: 0.3em;
  }
  .box.metrics-box {
    margin-bottom: 1em;
  }
  .metrics-row {
    p {
      font-size: 0.8em;
      margin: 0 -1em;
    }
  }
  .upcoming-appts {
    table {
      width: 100%;
    }
    p.list-item {
      margin: 0.2em;
    }
  }
  .no-appt-history-message {
    line-height: 18em;
  }
}

a.close-reveal-modal.custom-button.override-foundation {
  position: static;
  font-size: 1em;
  font-weight: 100;
  color: white;
}
form.edit_appointment {
  display: inline-block;
}

.dash-home-top-row {
  margin-top: 2em;
}

.dash-home-header {
  margin: 0.5em 0;
  text-align: left;
}


// Styling for _awaiting_approval_screen partial
.awaiting-approval {
  h1, p {
    text-align: center;
    margin: 0.5em auto;
  }
  p {
    font-size: 1.2em;
    max-width: 30em !important;
  }
}