// Place all the styles related to the dashboard/tutor/profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// [ ] TODO (AJ): Refactor assets to not need to do this
@import "../../global_elements/colors.scss";

// [X] TODO (AJ): Make colors palette (colors.scss)

.tutor-profile{

  margin-top: 20px !important;

  &>.row {
    background: white !important;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 50px !important;
  }

  .profile-pic {
    border: 1px solid $primary_dark;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .where-i-tutor {
    padding: 20px;
    border: 1px solid $primary_dark;
    text-align: center;
  }

  &-formal-education{
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 0;

    border: 1px solid $primary_dark;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: $primary_medium;

    color: white;

    .ed-item {
      display: block;
      color: white;
      font-size: 1.5em;
      font-weight: 300;

      i {
        color: white;
      }
    }
  }

  &-description{
    padding: 20px;

    border: 1px solid $primary_dark;
    border-top-width: 0;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: white;
  }

}

// [ ] TODO (AJ) Fix thiss
// .main-content{
//   background: $primary_medium !important;
// }


//
// SUBJECT SELECTOR
//

.appointment-selector {

  .header.row {
    background: $primary_dark;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 1.8em;
    border: 1px solid $primary_dark;
  }

  .footer.row {
    border: 1px solid #ccc;
    border-width: 0 1px 1px 1px;
    background: #eee;
    .btn {
      background: $secondary_medium;
      padding: 10px 20px;
      color: white;
      &:hover, &:active {
        background: $secondary_dark;
        color: white;
      }
    }

    .back {
      float: left;
      &:before {
        content: "← ";
      }
    }

    .forward {
      float: right;
      &:after {
        content: " →";
      }
    }
  }

  .prompt {
    padding: 10px;
    text-align: center;
    background: #eee;
    color: #aaa;
  }

  .main-view {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #ccc;
    border-width: 0 1px 0 1px;
  }

  .subject-selector {
    padding: 20px;

    .subject-item {
      padding: 10px;
      text-align: left;
      border-radius: 4px;
      margin-bottom: 20px;
      cursor: pointer;

      .rate {
        float: right;
        padding-left: 10px;

        border-left: 2px solid #aaa;
      }

      &:hover {
        background: $primary_medium;
      }

      &.active, &.active:hover {
        background: $primary_dark;
        color: white;

        .name {
          &:before {
            content: "✓ "
          }
        }

        .rate {
          border-left-color: white;
        }
      }

      &.neutral {
        background: #eee;
      }
    }
  }
}