// Place all the styles related to the dashboard/tutor/settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Styling for Settings Manager heading
p.settings-title {
  font-weight: 400;
  margin-bottom: 0;
}
.dashboard-title {
  padding: 0.5em 0;
  margin: 0;
}

// Styling for vertical sub-menu nav
.sub-menu {
  padding-left: 0;
}
.sub-menu a {
  color: #4F5252;
  font-weight: 100;
  padding: 0.5em 1em;
  border: 1px solid #FAFAFA;
  display: block;
  margin: 0.5em 0;
}
.sub-menu a:hover {
  border: 1px solid #0095AC;
  border-radius: 4px;
}


// Styling for Payment Settings sub-page 
.row.payment-welcome {
  border: 1px solid #BBE5EE;
  padding: 1em;
  border-radius: 4px;
  background-color: #eff1f3;
  margin-bottom: 1em !important;
}


// Styling for Profile Settings sub-page 
img.profile-pic-preview {
  border: 1px solid #0095AC;
  border-radius: 4px;
  margin: auto;
  display: block;
  margin: 2em auto;
  width: 100%;
}