nav.dashboard-nav {
  width: 100%;
  background-color: #0095AC;
  margin-bottom: 1em;
  border-bottom: 1px solid #CFCECE;
  box-shadow: 1px 1px 1px #CFCECE;
}
ul.dashboard-nav {
  max-width: 64em;
  margin: auto;
}
li.dashboard-nav-block {
  display: inline-block;
  width: 16%;
  text-align: center;
  a.dashboard-nav-link {
    color: white;
    line-height: 3.6em;
    font-weight: 100;
    font-size: 0.8em;
  }
  a.dashboard-nav-link:hover {
    color: white;
  }
}
li.dashboard-nav-block:hover {
  a.dashboard-nav-link {
    padding: 0.5em 2em;
    border-radius: 4px;
    // font-weight: 400;
    border: 1px solid #2BC2DE;
  }
}
a.dashboard-nav-link.selected {
  padding: 0.5em 2em;
  border-radius: 4px;
  background-color: #2BC2DE;
  border: 1px solid #2BC2DE;
}