.profile-pic-container {
  height: 200px;
  width: 200px;
  border-radius: 2px;
  border: 2px solid #3f3f3f;
  position: relative;
}

.profile-pic {
  height: 100%;
  width: 100%;
  position: absolute;
}

.profile-pic-link {
  margin-top: 80%;
  height: 30px;
  width: 100%;
  position: absolute;
}

.profile-pic-text {
  font-size: 0.7em;
  text-align: center;
  background-color: #3f3f3f;
  color: white;
  padding: 0.7em;
}

.icon-margin-right {
  margin-right: 1em;
}

a.button.small.secondary-CTA-color {
  background-color: #d0cfcf;
  color: #4d5151;
  width: 18em;
}

.margin-top-3em {
  margin-top: 3em;
}

.header-top-margin {
  margin-top: 2em;
}


.cropbox-container {
  text-align: center;
}

.cropbox {
  display: inline-block;
  padding: 1em;
}


/*=======================================================
CSS FOR ADMIN SECTION
========================================================*/

/* STATUS BUTTON STYLES 
  The classes defined below are for the associated active_status and application_status attributes 
*/

@import "foundation";


.Active {
  @include button (
    $bg: $success-color,
    $padding: $button-tny,
    $full-width:true
  )
}

.Inactive {
  @include button(
    $bg: $secondary-color,
    $padding: $button-tny,
    $full-width:true
  )
}

.Applied { 
  @include button(
    $bg: $info-color,
    $padding: $button-tny,
    $full-width:true
  )
}

// "Awaiting Approval"
.Awaiting {
  @include button(
    $bg: $alert-color,
    $padding: $button-tny,
    $full-width:true
  )
}

.Approved {
  @include button(
    $padding: $button-tny,
    $full-width:true
  )
}

.white-link-text {
  color: #fff;
}

.black-link-text {
  color: #000;
}
