.tutor-card {
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 1em;
  text-align: center;
  height: 25em;
  overflow: hidden;
  margin: 1em 0;
}

.profile-pic-container-index-page {
  margin: auto;
}

.profile-pic {
  position: relative;
}