<% @data = Slot.possible_appt_times_for_week(Date.today, @tutor.id) %>

<% 7.times do |count| %>
  <li>  
    <div class="calendar-column">
      <p class="day"><%= @data[count][:date].strftime('%A') %></p>
      <p class="date"><%= @data[count][:date].strftime('%m/%d') %></p>
      <% if @data[count][:times] %>
        <% @data[count][:times].each do |start_time| %>
          <div class="appt-time-box">
            <label>
              <input type="checkbox" value="1">
              <div class="appt-time"><%= start_time %></div>
            </label>
          </div>
        <% end %>
      <% end %>
    </div>
  </li>
<% end %>

<!-- Slot.create(tutor_id: 6, start_time: ((Date.today + 5).to_s + " 16:00"), duration: 10800) -->