<div class="row">
  <div class="small-12 columns">
    <div class="checkout-box">
      <div class="checkout-test">
        <div class="row">
          <div class="small-12 columns">
            <p><b>Book <%= @tutor.first_name %></b></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-3 columns">
              <p>Previous Week</p>
            </div>
            <div class="small-6 columns">
              <p>Select a time</p>
            </div>
            <div class="small-3 columns">
              <p>Next Week</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <h1>Calendar goes here</h1>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-3 columns">
              <p>Go Back</p>
            </div>
            <div class="small-3 columns">
              <p>Next Step</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>