<div class="row">
  <div class="small-12 columns">
    <div class="box">
      <div class="checkout-step-title">
        <div class="row">
          <div class="small-12 columns">
            <p>Select a time to meet with <%= @tutor.first_name + " " + @tutor.last_name.slice(0) + "." %></p>
          </div>
        </div>
      </div>
      <div class="calendar-header">
        <div class="row small-collapse">
          <div class="small-12 columns">
            <div class="row small-collapse">
              <div class="small-3 columns">
                <button class="checkout-button weeks-btns">Previous Week</button>
              </div>
              <div class="small-6 columns">
                <p>Select a time</p>
              </div>
              <div class="small-3 columns">
                <button class="checkout-button weeks-btns">Next Week</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="calendar-body">
        <div class="row">
          <div class="small-12 columns">
            <div class="small-block-grid-7">
              <%= render '/checkout/steps/available_times', week_start_date: Date.today %>
            </div>
          </div>
        </div>
      </div>
      <div class="checkout-steps-nav">
        <div class="row small-collapse">
          <div class="small-12 columns">
            <div class="row small-collapse">
              <div class="small-3 columns">
                <button class="checkout-button">Go Back</button>
              </div>
              <div class="small-3 columns">
                <button class="checkout-button">Next Step</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>