<div class="row">
  <div class="small-12 columns">
    <h3 class="center margin-auto">You cannot complete checkout with a Tutor account.</h1>
    <h5 class="center margin-auto">If you would like to book an appointment with another tutor, please create a separate student account with a different email address.</h3>
  </div>
</div>