<div class="row">
  <div class="small-12 columns">
    <div class="box margin-bottom-4em">
      <h3 class="center margin-auto margin-bottom-1em">You cannot book an appointment with a Tutor account.</h3>
      <h5 class="center margin-auto margin-bottom-1em width-70">If you would like to book an appointment with a tutor, please create a separate student account with a different email address.</h5>
      <h5 class="center margin-auto margin-bottom-1em width-70">You can create your new student account at the end of checkout when you are not signed in as a Tutor.</h5>
    </div>
  </div>
</div>