<style>
.welcome-container {
  background-color: #f6f6f6;
  padding: 2em;
  height: 100%;
}
.welcome-text {
  margin: 0;
}
</style>

<div class="welcome-container">
  <h3 class="welcome-text">Welcome to your Dashboard, <%= @tutor.first_name %></h3>
  <h4>We want you to touch as many students as possible</h4>
  <p>And that's where we come in. We'll provide you with expert advice on places to hide on campus, free candy for enticing students, partner discounts on sketchy van rentals and a limited edition Axon-branded 'Jason from Scream' mask.</p>
</div>