<style>
.top-box-container {
  height: 20em;
  vertical-align: top;
  background-color: #f6f6f6;
  border-bottom: 2px solid #0095AC;
}
.one-half-box {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  height: 20em;
}
.left-box {
  border-right: 2px solid #0095AC;
}
.nudge-left {
  margin-left: -6px;
}
.inner-box {
  height: 20em;
  width: 30em;
  border-bottom: 2px solid #0095AC;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

</style>
<div class="top-box-container">
  <div class="one-half-box top-box left-box">
    <div class="inner-box float-right">
      <%= render 'layouts/partials/tutor/new_tutor_welcome_message' %>
    </div>
  </div>
  <div class="one-half-box top-box nudge-left">
    <div class="inner-box float-left">
      <%= render 'layouts/partials/tutor/new_tutor_checklist' %>
    </div>
  </div>
</div>