.calendar-header {
  background-color: #E0E0E0;
  text-align: center;
  p {
    margin: 0;
    line-height: 3em;
  }
}

li {
  text-align: center;
}

.calendar-column {
  p.day {
    margin: 0.5em 0 0;
  }
}

.appt-time-box {
    margin: 0.2em 0;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    overflow: auto;
}

.appt-time-box:hover {
  background: #0095AC;
  .appt-time {
    color: white;
  }
}

.appt-time-box label + .appt-time {
    text-align: center;
    padding: 3px 0px;
    display: block;
}

.appt-time-box label input {
  position: absolute;
  opacity: 0;
}

.appt-time-box input:checked + .appt-time {
  background-color: #58AA4D;
  color: white;
}

.appt-time {
    padding: 0.5em;
    font-family: 'Lato';
}

.appt-time-box input:disabled + .appt-time {
    background-color: #C3C3C3;
    color: #7D7D7D;
}