// Checkout Step base, top and bottom sections (title and nav)
div.checkout-step-title, div.checkout-steps-nav {
  div.week-nav-link {
    background-color: #A3A5A5;
    border-radius: 4px;
    margin-top: 1em;
    width: 100%;
    text-align: center;
    p {
      font-size: 1em;
    }
    &.left {
      i {
        color: white;
        margin-right: 1em;
      }
    }
    &.right {
      i {
        color: white;
        // no margin-left needed, seems to automatically have some following text
      }
    }
    &.disabled {
      p,i {
        color: #6B6B6B;
      }
    }
    &.disabled:hover {
      background-color: #A3A5A5;
    }
  }

  div.week-nav-link:hover {
    background-color: #2BC2DE;
  }

  .checkout-button.gray.disabled-text-color {
    font-family: 'Lato';
    color: #7D7D7D;
  }

  p#number-of-appts {
    text-align: center;
    margin: 0;
    font-weight: 400;
    padding: 0.8em;
  }
}



// Checkout Step Body - appt time selectors

div.checkout-step-body {
  li {
    text-align: center;
    .calendar-column {
      text-align: center;
      p.day {
        margin: 0.5em 0 0;
        font-weight: 700;
      }
      p.date {
        font-weight: 400;
      }
      div.scroll-box {
        height: 25em;
        overflow: hidden;
        position: relative;
        left: 0.5em; // to offset scrollbar on right side and make times appear more centered under day/date label
        &:hover {
          overflow: auto;
        }
      }
    }
    .appt-time-box {
      margin: 0.5em 0;
      border-radius: 3px;
      border: 1px solid #D0D0D0;
    }
    .appt-time-box:hover {
      background: #0095AC;
      .appt-time {
        color: white;
      }
    }
    .appt-time-box label + .appt-time {
      text-align: center;
      padding: 3px 0px;
      display: block;
    }
    .appt-time-box label input {
      position: absolute;
      opacity: 0;
    }
    .appt-time-box input:checked + .appt-time {
      background-color: #58AA4D;
      color: white;
    }
    .appt-time {
      padding: 0.5em;
      font-family: 'Lato';
    }
    .appt-time-box input:disabled + .appt-time {
      background-color: #C3C3C3;
      color: #7D7D7D;
    }
    .appt-time-box input.second-half-of-appt:disabled + .appt-time  {
      background-color: #58AA4D;
      color: #58AA4D;
    }
    .appt-time-box input.second-half-of-appt.override-gray:disabled + .appt-time  {
      background-color: #C3C3C3;
      color: #7D7D7D;
    }
  }
}



// Similar Appt Times Modal for booking Regular Appts

div#similar-appts-modal {
  h3#regular-meeting-cta {
    margin: 1em auto;
    background-color: #0095AC;
    padding: 0.2em;
    color: white;
    border-radius: 3px
  }
  h4 span {
    font-weight: 700;
  }
  img.modal-graphic {
    width: 90%;
    padding: 1em
  }
  .similar-appts-scroll-box {
    height: 25em;
    overflow: auto;
    margin: 0 auto 1em;
    border-radius: 4px;
    background-color: #DDDDDD;
    .similar-appt-time-box {
      margin: 0.8em;
      border-radius: 4px;
      background-color: #FAFAFA;
      .appt-time {
        font-size: 1.2em;
        font-weight: 700
      }
    }
    .similar-appt-time-box:hover {
      background: #0095AC;
      .appt-time {
        color: white;
      }
    }
    .similar-appt-time-box label + .appt-time {
      text-align: center;
      padding: 3px 0px;
      display: block;
    }
    .similar-appt-time-box label input {
      position: absolute;
      opacity: 0;
    }
    .similar-appt-time-box input:checked + .appt-time {
      background-color: #58AA4D;
      border-radius: 4px;
      color: white;
    }
    .appt-time {
      padding: 0.5em;
      font-family: 'Lato';
    }
    .similar-appt-time-box input:disabled + .appt-time {
      background-color: #C3C3C3;
      color: #7D7D7D;
    }
    .similar-appt-time-box input.second-half-of-appt:disabled + .appt-time  {
      background-color: #58AA4D;
      color: #58AA4D;
    }
    .similar-appt-time-box input.second-half-of-appt.override-gray:disabled + .appt-time  {
      background-color: #C3C3C3;
      color: #7D7D7D;
    }
  }
  .button-container {
    max-width: 30em;
    margin: auto;
    display: block;
    .regular-appt-modal-button { 
      display: block;
      margin: 1em auto;
      font-weight: 700;
      font-size: 1.3em;
      padding: 1em;
    }
  }
}