.row.subject-row {
  display: block;
  padding: 0.8em 1em;
  background-color: #EFF1F3;
  border-bottom: 0;
  .subject-title {
    font-size: 2.2em;
    font-weight: 700;
    padding: 0.1em;
  }
  .row.course-list-row {
    border: 1px solid #909090;
    border-radius: 4px;
    padding: 0.7em;
    background-color: #EAEAEA;
    margin: 1em 0;
    p {
      margin: 0;
      font-weight: 400;
      font-size: 1.1em;
    }
  }
}

.course-box {
  overflow: auto;
  label input {
    position: absolute;
    opacity: 0;
  }
  .row.course-list-row {
    padding: 0.5em;
    font-family: 'Lato';
  }
  label + .row.course-list-row {
    transition: background-color 0.5s ease;
    text-align: center;
    padding: 3px 0px;
    display: block;
  }
  input + .row.course-list-row:hover {
    transition: background-color 0.5s ease;
    background: #80CBC4;
    .course-text {
      color: white;
    }
  }
  input.out-of-focus + .row.course-list-row {
    border: 1px solid #949494;
    .course-text {
      color: #949494;
    }
  }
  input.out-of-focus + .row.course-list-row:hover {
    .course-text {
      color: white;
    }
  }
  input:checked + .row.course-list-row {
    background-color: #009688;
    color: white;
    border: 1px solid #6D6D6D;
    .course-text {
      color: white;
    }
  }
}

p#selected-course {
  text-align: center;
  margin: 0;
  font-weight: 400;
  padding: 0.8em;
}