.checkout-subject-row {
  padding: 1em 0;
  .subject-title {
    display: block;
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 0.5em;
  }  
  .row.checkout-course-list-row {
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    padding: 0.7em;
    background-color: #F3F3F3;
    p {
      margin: 0;
      font-weight: 400;
    }
  }
}