<p><%= link_to 'Account Settings', account_student_path(current_user), class: 'account-settings-link' %></p>
<p><%= link_to 'Payment Settings', payment_info_student_path(current_user), class: 'payment-settings-link' %></p>