<p><%= link_to 'Account Settings', account_student_path(current_user) %></p>
<p><%= link_to 'Payment Settings', payment_info_student_path(current_user) %></p>
<p><%= link_to 'Appointment History', appointment_history_student_path(current_user) %></p>