<section class="dashboard tutor">
  <div class="wrapper">
    <div class="wrapper__text">
      <h2 class="title">Setttings Manager</h2>
    </div>
    <div class="g g-3up">
      <div class="gi">
        <%= render 'vertical_sub_menu' %>
      </div>
      <div class="gi">
        <%= render 'account_status', student: @student %>    
      </div>
      <div class="gi"></div>
    </div>
  </div>
</section>