<h4 class="dash-home-header">Support</h4>
<div class="box height-24em">
  <h5>Your Campus Manager</h5>
  <p>Katie F.</p>
  <p><%= mail_to 'katie@axontutors.com', nil, class: 'blue-link' %></p>
  <h5>Axon Headquarters</h5>
  <p>(762) 585-4850</p>
  <p><%= mail_to 'info@axontutors.com', nil, class: 'blue-link' %></p>
</div>