<h4 class="dash-home-header">Support</h4>
<div class="box">
  <h5 class="center">Your Campus Manager</h5>
  <p class="center">Katie F.</p>
  <p class="center"><%= mail_to 'katie@axontutors.com', nil, class: 'blue-link' %></p>
  <h5 class="center">Axon Headquarters</h5>
  <p class="center">(762) 585-4850</p>
  <p class="center"><%= mail_to 'info@axontutors.com', nil, class: 'blue-link' %></p>
</div>