<section class="dashboard-content student-home-page">
  <div class="row">
    <div class="small-12 medium-8 columns">
      <%= render 'search_bar' %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= render 'upcoming_appointments' %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-8 columns">  
      <%= render 'appointment_history' %>
    </div>
    <div class="small-12 medium-4 columns">
      <%= render 'support' %>
    </div>
  </div>
</section>