<section class="dashboard-content student-home-page">
  <div class="row">
    <div class="small-12 medium-8 columns">
      <h2 class="margin-bottom-1em">Reschedule Your Appointment</h2>
    </div>
    <div class="small-12 medium-4 columns">
      <%= link_to 'Return to Dashboard', home_student_path(@student), class: 'custom-button full-width margin-top-1em' %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="checkout-step-title">
        <div class="row">
          <div class="small-12 medium-3 columns">
            <%= link_to view_reschedule_options_student_path(@student, @appt, current: @start_date.to_s, week: 0) do %>
              <div class="week-nav-link left">
                <p><i class="fi-arrow-left"></i>Previous Week</p>
              </div>
            <% end %>
          </div>
          <div class="small-12 medium-6 columns">
            <p>Select a Time</p>
          </div>
          <div class="small-12 medium-3 columns">
            <% if @future_availability == true %>
              <!-- enabled 'Next Week' button -->
              <%= link_to view_reschedule_options_student_path(@student, @appt, current: @start_date.to_s, week: 1) do %>
                <div class="week-nav-link right">
                  <p>Next Week<i class="fi-arrow-right"></i></p>
                </div>
              <% end %>
            <% else %>
              <!-- disabled 'Next Week' button -->
              <div class="week-nav-link right disabled">
                <p>Next Week<i class="fi-arrow-right"></i></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="checkout-step-body">
        <div class="row">
          <div class="small-12 columns">
            <div class="small-block-grid-1 medium-block-grid-7">
              <%= render 'available_times_for_reschedule', week_start_date: Date.today %>
            </div>
          </div>
        </div>
      </div>
      <div class="checkout-steps-nav">
        <p><!-- empty p used as filler to give div some height, thus making bottom border show --></p> 
      </div>
    </div>
  </div>
</section>