<div class="icon-bar large-vertical four-up">
  <a id="btn-show-slot"  class="item cal-menu-item">
    <i class="fi-plus"></i>
    <label>Details</label>
  </a>
  <a id="btn-block-slot" class="item cal-menu-item">
    <i class="fi-stop"></i>
    <label>Block</label>
  </a>
  <a id="btn-rm-slots" class="item cal-menu-item">
    <i class="fi-trash"></i>
    <label>Remove</label>
  </a>
</div>
<!-- <button id="btn-rm-slots" class="button alert">Remove</button> -->