<%= javascript_include_tag "dashboard/schedule" %>
<!-- <a id="slotpopover" data-url="/slots"></a> -->



<div class="row">
  <div class="medium-12 columns">
    <h1>Your Schedule</h1>
    <h3 class="subheader">Drag from availability to create your schedule.</h3>
  </div>
</div>

<!-- '/api/v1/tutors/64/slots.json' -->
<!-- '/api/v1/tutors/64/slots/all' -->
<!-- "/api/v1/tutors/64/slots" -->
<!-- Can use gon gem to pass rails data to javascript pretty effeciently, we should consider using it - Jaicob -->
<%= content_tag "div", id: "axoncalendar", data: { tutor: @user.tutor.id } do %>
  <div class="row">

    <div id="scheduling-container">
      <div id='wrap' class="columns medium-10">
        <div id='calendar'></div>

        <div id="slotpopover" hidden="true">
          <%= render 'edit_slot' %>
        </div>

        <div style='clear:both'></div>
      </div>
      <div class="columns medium-2">
        <div id="cal-spacer"></div>
        <div id='external-events'>
          <h4>Availability</h4>
          <div class='fc-event regular-availability'>Regular </div>
          <div class='fc-event'>One-Off </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

