.axon-usage-steps {
  @extend %flex__wrapper;
  margin-bottom: $base-spacing;

  .usage-step {
    @extend %flex__box--third;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: $pad-half;
    float: left;
    text-align: center;


    @include media($large-screen) {
      // This adds the arrows between the computer images on a larger screen.
      // The :not() selector makes sure the arrow is applied only to the first items in the list, and not the last.
      &:not(:last-child) {
        &:after {
          content: "\2192"; // This is the HTML Entity for a right arrow.
          position: absolute;
          right: -10%;
          top: 40%;
          font-size: 3em;
        }
      }
    }
  }

  .numeral {
    display: inline-block;
    font-size: 20px;
    width: 2em;
    height: 2em;
    line-height: 1;
    padding: $pad-half 0;
    text-align: center;
    color: $white;
    background-color: $accentColor;
    border-radius: 50%;
  }
}