.admin-title, .school-name {
  color: #4F5252;
  text-align: center;
  max-width: none;
}

.admin-title {
  padding: 0.7em;
  font-size: 1.5em;
  font-weight: 800;
  margin-bottom: 0;
}

.school-name {
  padding-bottom: 1em;
  margin-bottom: 0;
}