// Place all the styles related to the admin/appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


select#q_start_time_gteq_1i, select#q_start_time_lteq_1i {
  width: 27%;
}

select#q_start_time_gteq_2i, select#q_start_time_lteq_2i {
  width: 48%;
}

select#q_start_time_gteq_3i, select#q_start_time_lteq_3i {
  width: 20%;
}

a.button.info.tiny.full-width {
  width: 100%;
}

/*
========================================
Appointments Main Menu
========================================
*/

.dropdown.button {
  margin: 0;
}

.header-block {
  display: block;
}

.admin-row {
  background-color: #00BFB3;
}

.school-select {
  display: inline-block;
  float: right;
}

button.button.dropdown.school-select-dropdown {
  margin-top: -6em;
  margin-right: 1em;
  background-color: #00bfb3;
  border: 1px solid white;
}

a.button.small.full-width.admin-new-appt-button {
  margin-bottom: 0;
  border: 1px solid #d3d3d3;
  background-color: #eeeeee;
  color: #4d4d4d;
  margin-top: 1em;
}

a.button.info.tiny.full-width.reset-search-button {
  background-color: #eeeeee;
  border: 1px solid #d3d3d3;
}

/*
========================================
Appointments Edit Menu
========================================
*/

select#appointment_start_time_1i {
    width: 18%;
}
select#appointment_start_time_2i {
    width: 27%;
}
select#appointment_start_time_3i {
    width: 13%;
}
select#appointment_start_time_4i {
    width: 13%;
}
select#appointment_start_time_5i {
    width: 13%;
}