div.admin-header {
  .admin-title, .school-name {
    color: #4F5252;
    text-align: center;
    max-width: none;
  }
  .admin-title {
    padding: 0.7em;
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 0;
  }
  .school-name {
    padding-bottom: 1em;
    margin-bottom: 0;
  }
  nav.admin-nav {
    background-color: #DEDEDE;
    padding-top: 1em;
    margin-bottom: 1em;
    dl.sub-nav {
      dd {
        a {
          color: #4F5252 !important;
        }
      }
      dd.active {
        a {
          color: white !important;
        }
      }
    }
  }
}

// makes all info links blue to show they are clickable
.admin-wrapper {
  td {
    a {
      color: #0095AC;
    }
  }
}

// styling for pagination links (overrides to generic Kaminari style - the gem that provides pagination)
nav.pagination {
  display: block;
  margin-bottom: 2em;
  margin: 0 auto 2em;
  text-align: center;
  width: 100%;
  border: 1px solid #EFF1F3;
  padding: 1em;
  border-radius: 4px;
  background-color: #DEDEDE;
  span, span a {
    color: #4F5252;
    padding: 1em;
    margin-bottom: 2em;
  }
  span.page.current {
    background-color: #008CBA;
    color: white;
    padding: 0.5em;
    padding-left: 0.6em;
    border-radius: 10px;
  }
}