select#q_created_at_gteq_1i {
  width: 26%;
}

select#q_created_at_gteq_2i {
  width: 49%;
}
select#q_created_at_gteq_3i {
  width: 20%;
}

select#q_created_at_lteq_1i {
  width: 26%;
}

select#q_created_at_lteq_2i {
  width: 49%;  
}

select#q_created_at_lteq_3i {
 width: 20%; 
}