<div id="tutor-profile" class="no-bottom-margin">
  <div class="row">
    <div class="small-12 medium-4 columns">
      <div class="vertical-padding-1em">
        <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/tutor-student-pics/tutor-example', class: 'tutor-card-pic') %>
        <div class="name-box">
          <h3 class="center">Alexandra R.</h3>
        </div>
        <div class="school-box">
          <p class="center no-bottom-margin">Tutor at</p>
          <h5 class="center">University of Georgia</h5>
        </div>
      </div>
    </div>
    <div class="small-12 medium-8 columns">
      <div class="vertical-padding-1em">
        <div class="section-heading">
          <h4>Education</h4>
        </div>
        <div class="profile-text">
          <div class="row">
            <div class="small-12 medium-6 columns">
              <p class="degree"><i class="fi-book-bookmark margin-right-1em"></i>PhD. Microbiology, 2020</p>
            </div>
            <div class="small-12 medium-6 columns">
              <p class="degree"><i class="fi-book-bookmark margin-right-1em"></i>B.S. Marine Biology, 2014</p>
            </div>
          </div>
        </div>
        <div class="section-heading">
          <h4>Experience</h4>
        </div>
        <div class="profile-text">
          <p>Your first statment goes here. It should include your qualifications, your experience or any other fun facts. The max length of each statement is 250 characters. So you can fill it up with about this much text, because this is almost 250 characters.</p>
          <p>Your second statment goes here. It should include your qualifications, your experience or any other fun facts. The max length of each statement is 250 characters. So you can fill it up with about this much text, because this is almost 250 characters.</p>          
          <p>Your third statment goes here. It should include your qualifications, your experience or any other fun facts. The max length of each statement is 250 characters. So you can fill it up with about this much text, because this is almost 250 characters.</p>          
        </div>
      </div>
    </div>
  </div>
</div>