<div id="tutorCardContainer" class="cards">
  <div class="cards">
    <div class="card">
      <div class="card-content">
        <div class="profile-pic-box">
          <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/tutor-student-pics/tutor-example', class: 'profile-pic') %>
        </div>
        <div class="banner-box">
          <div class="banner-row">
            <p class="name">Alexandra R.</p>
            <p class="price">$23</p>
          </div>
          <div class="banner-row">
            <i class="fi-book-bookmark"></i>
            <p class="degree">PhD. Microbiology, 2020</p>
          </div>
        </div>
        <div>
          <div class="tutor-stats">
            <div class="row small-collapse stat-row">
               <div class="columns small-8">
                <span>Approval Rating</span>
              </div>
              <div class="columns small-4">
                <span><p class="no-bottom-margin center"><i class="icon fi-like"></i><span class="stat-text">93%</span></p></span>
              </div>
            </div>
            <div class="row small-collapse stat-row clearfix">
               <div class="columns small-8">
                 <span>Appointments</span>
              </div>
              <div class="columns small-4">
                <span><p class="no-bottom-margin center"><i class="icon fi-list-thumbnails"></i><span class="stat-text">24</span></p></span>
              </div>
            </div>
            <div class="row small-collapse stat-row">
              <div class="columns small-8">
                <span>Students</span>
              </div>
              <div class="columns small-4">
                <span><p class="no-bottom-margin center"><i class="icon fi-torsos-female-male"></i><span class="stat-text">7</span></p></span>
              </div>
            </div>
            <div class="row">
              <div class="columns small-12 small-centered ">
                <p class="text-center even-padding">
                  <a disabled="true">See Full Profile</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a disabled="disabled"><div class="custom-button full-width">Book Now</div></a>
    </div>
  </div>
</div>