<div id="tutorCardContainer" class="cards">
  <div class="cards">
    <div class="card">
      <div class="card-content">
        <div class="profile-pic-box">
          <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/tutor-student-pics/tutor-example', class: 'profile-pic') %>
        </div>
        <div class="banner-box">
          <div class="banner-row">
            <p class="name">Alexandra R.</p>
            <p class="price">$23</p>
          </div>
          <div class="banner-row">
            <i class="fi-book-bookmark"></i>
            <p class="degree">PhD. Microbiology, 2020</p>
          </div>
        </div>
        <div class="additional_degrees">
            <p>B.S. Marine Biology, 2014</p>
        </div>
        <div class="statements-box">
          <a>
            <div class="statement">
              <p>Your first statment goes here. It should include your qualifications, your experience or any other fun facts...</p>
            </div>
            <div class="statement">
              <p>Your second statment goes here. It should include your qualifications, your experience or any other fun facts...</p>
            </div>
            <div class="statement">
              <p>Your third statment goes here. It should include your qualifications, your experience or any other fun facts...</p>
            </div>
          </a>
        </div>
      </div>
      <a><div class="custom-button full-width">Book Now</div></a>
    </div>
  </div>
</div>