<% create_step_blocks(@tutor) %>

<div class="row progress-bar-container">
  <% @links.each do |info| %>
    <div class="small-12 medium-3 columns">
      <div class="progress-step <%= info[1][:classes] %>">
        <%= link_to info[1][:path] do %>
          <p class="number"><%= info[1][:circle].html_safe() %></p>
          <p><%= info[1][:text] %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>