<div class="row">
  <div class="small-12 medium-8 columns">
    <p>Bacon ipsum dolor amet landjaeger short loin tenderloin boudin jerky jowl. Kevin tail corned beef filet mignon andouille. Strip steak capicola kielbasa, pancetta sausage brisket pastrami hamburger flank. Pork cow beef ribs ham hock pork loin landjaeger. Tongue prosciutto chuck short ribs landjaeger leberkas cow jerky. Spare ribs brisket shankle jerky, tenderloin tail flank doner.</p>
  </div>
  <div class="small-12 medium-4 columns">
    <div class="checklist-box">
      <h4 class="centered checklist-title">Get Started Checklist</h4>
      <p class="checklist-item step-one">1. Complete your application</p>
      <p class="checklist-item step-two">2. Approve courses and rates</p>
      <p class="checklist-item step-three">3. Set your availability</p>
      <p class="checklist-item step-four">4. Link your bank account</p>
    </div>
  </div>
</div>








<!-- already set in row -->
<%= render 'tutor_onboarding/progress_bar' %>