      <article class="availability-calendar">
        <header class="row">
          <h3 class="title">Nicolas Cage's Availability</h3>
          <div class="dropdown--subject">
             <label for="select-subject">Subject</label>
             <div class="select-wrapper">
               <select id="select-subject" class="select-menu">
                <optgroup label="Available Subjects">
                    <option>BIO 1101</option>
                    <option selected>CHEM 1202</option>
                    <option>CS 1303</option>
                </optgroup>
              </select>
            </div>
          </div>
        </header>
        {{> molecules-schedule }}
        <footer class="row">
          <div class="column selected-class-output">
            <p>Selected Date will show here.</p>
            <p>Selected Class will show here.</p>
          </div>
          <div class="column submit">
            <a href="{{ url }}" class="btn">Book Time and Continue <span class="fi-arrow-right"></span></a>
          </div>
        </footer>
      </article>