---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: bank_account[account_holder_type]=individual&bank_account[account_number]=000123456789&bank_account[country]=CA&bank_account[currency]=usd&bank_account[name]=Jane+Austen&bank_account[routing_number]=11000000
    headers:
      Authorization:
      - Bearer sk_test_4VObNRAiXCBixyd9lpO2sdeP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "btok_7tWnUkUcUBzKrG",
          "object": "token",
          "bank_account": {
            "id": "ba_17djkC4Iy02hWvBE3GsK0SwU",
            "object": "bank_account",
            "account_holder_name": "Jane Austen",
            "account_holder_type": "individual",
            "bank_name": null,
            "country": "CA",
            "currency": "usd",
            "fingerprint": "oChakD9VMJtIlkSh",
            "last4": "6789",
            "name": "Jane Austen",
            "routing_number": "11000-000",
            "status": "new"
          },
          "client_ip": "96.38.241.146",
          "created": 1455294368,
          "livemode": false,
          "type": "bank_account",
          "used": false
        }
  recorded_at: Fri, 12 Feb 2016 16:26:08 GMT
recorded_with: VCR 3.0.1
