---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=12&card[exp_year]=2016&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_4VObNRAiXCBixyd9lpO2sdeP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17djks4Iy02hWvBE2QG7Zx7w",
          "object": "token",
          "card": {
            "id": "card_17djkr4Iy02hWvBEBhtsvIo3",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "ZmaKPeHcm3bbIjWC",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "96.38.241.146",
          "created": 1455294410,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 12 Feb 2016 16:26:50 GMT
recorded_with: VCR 3.0.1
