// RWD Tables 
// http://unrealnavigation.com/blog/responsive-tables
@mixin responive-tables($headings...) {
  $list: $headings;

  @each $list-headings in $list {
    $i: index($list, $list-headings);
    tbody tr td:nth-of-type(#{$i}):before { 
      content: $list-headings; 
    }
    
    @include media($medium-screen) {
      tbody tr td:nth-of-type(#{$i}):before { 
        content: ''; 
      }
    }
  }
}

@mixin responive-tables-large($headings...) {
  $list: $headings;

  @each $list-headings in $list {
    $i: index($list, $list-headings);
    tbody tr td:nth-of-type(#{$i}):before { 
      content: $list-headings; 
    }
    
    @include media($large-screen) {
      tbody tr td:nth-of-type(#{$i}):before { 
        content: ''; 
      }
    }

  }
}

@mixin rwd-first {
  display: block;
  
  tbody {
    border: none;
  }

  tbody, th, td, tr, tfoot {
    display: block; 
  }

  thead {
    display: none;
  }

  tr {
    float: left;
    width: 100%;
    margin: 0 0 1em;

    td {
      padding: 0.5em 0;
      float:left;
      width: 100%;
      
      &:before {
        width: 100%;
        display: block;
        float: left;
        clear: both;
        //margin: 0 0 0 em(8);
      }
    }
  }
}

@mixin rwd-second {
  display: table;
  border: none;

  th, td {
    display: table-cell; 
  }

  tr {
    display: table-row;
    border: none;
    float: none;
    margin: 0;
    box-shadow: none;

    td {
      padding: .75em 0 0.75em .25em;
      float: none;
      width: auto;

      &:before {
        padding: 0 !important;
      }
    }
  }

  thead {
    display: table-header-group;
  }

  tbody,tfoot {
    display: table-row-group;
  }
}

// Vertical Align
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity-ie)";
}

@mixin transition($time, $style) {
  -webkit-transition: all $time $style;
  -moz-transition: all $time $style;
  -ms-transition: all $time $style;
  -o-transition: all $time $style;
  transition: all $time $style;
}

// Maintain aspect ratio or fit to content http://codepen.io/jakob-e/pen/LEdWNB
/*** Usage ***
  div {
    @include aspect-ratio(16,9);
    // ...or by simple ratio -> @include aspect-ratio(1.777777778);  
  }
**/


@mixin aspect-ratio($ratio-or-width, $height: null) {
  $padding: if($height, percentage($height/$ratio-or-width), percentage(1/$ratio-or-width));
  &:before { content:''; float: left; padding-bottom: $padding;  }
  &:after  { content:''; display: table; clear: both;  } 
}

// The following taken from http://sachagreif.com/useful-sass-mixins/

@mixin navigation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: table-row;

  > li{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
}

// The following by http://37signals.com/svn/posts/3271-easy-retina-ready-images-using-scss

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

// The following from http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// Single side border-radius

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
     background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
     border-top-left-radius: $radius;
     background-clip: padding-box;
}
