/* line 5, /home/rails/my-app/app/assets/stylesheets/admin.css.scss */
fieldset legend.admin-panel {
  background: none;
}

/* line 9, /home/rails/my-app/app/assets/stylesheets/admin.css.scss */
fieldset.admin-panel {
  padding-bottom: 0;
}

/* line 13, /home/rails/my-app/app/assets/stylesheets/admin.css.scss */
legend.search-field-legend {
  background: none;
}
