/* line 1, /home/rails/my-app/app/assets/stylesheets/custom_email.sass */
* {
  font-family: Arial;
}

/* line 4, /home/rails/my-app/app/assets/stylesheets/custom_email.sass */
.body-container {
  background: #f2f2f2;
  border-radius: 10px;
  border: 0.5px solid #ccc;
  padding: 20px !important;
}

/* line 10, /home/rails/my-app/app/assets/stylesheets/custom_email.sass */
.title {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 16, /home/rails/my-app/app/assets/stylesheets/custom_email.sass */
.ticket .panel {
  border: 0;
  height: 50px;
}
/* line 19, /home/rails/my-app/app/assets/stylesheets/custom_email.sass */
.ticket .name {
  background: #7ED321;
  color: white;
}
/* line 22, /home/rails/my-app/app/assets/stylesheets/custom_email.sass */
.ticket .subject {
  background: #4A90E2;
  color: white;
}
/* line 25, /home/rails/my-app/app/assets/stylesheets/custom_email.sass */
.ticket .date {
  background: #F8E71C;
  color: white !important;
}
/* line 28, /home/rails/my-app/app/assets/stylesheets/custom_email.sass */
.ticket .phone-number {
  background: #ccc;
  color: #4A4A4A;
}
/* line 31, /home/rails/my-app/app/assets/stylesheets/custom_email.sass */
.ticket .email {
  background: #ccc;
  color: #4A4A4A;
}

/* line 35, /home/rails/my-app/app/assets/stylesheets/custom_email.sass */
.message-content {
  margin-top: 20px;
}

/* line 38, /home/rails/my-app/app/assets/stylesheets/custom_email.sass */
.footer {
  background: white;
}

/* line 41, /home/rails/my-app/app/assets/stylesheets/custom_email.sass */
td.center > p,
td.center > h1,
td.center > h2,
td.center > h3,
td.center > h4,
td.center > h5,
td.center > h6 {
  text-align: center;
}

/* line 50, /home/rails/my-app/app/assets/stylesheets/custom_email.sass */
td.middle {
  vertical-align: middle;
}

/* line 53, /home/rails/my-app/app/assets/stylesheets/custom_email.sass */
.nopad {
  padding: 0 !important;
}

/* line 56, /home/rails/my-app/app/assets/stylesheets/custom_email.sass */
.top-buffer-only {
  padding: 20px 0 0 0 !important;
}
