/* line 1, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
.nav-bar-wrapper.clear-nav {
  background: none;
  border-bottom: 0;
  box-shadow: none;
}

/* line 7, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
.landing-page-first-section {
  padding-top: 3em;
}

/* line 11, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
.uga-box {
  background: url(/assets/trekkie-2b3873a76dc3ff251f133135f0689e4e1fee8118f4bcbf0c569222bde0cf6297.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

/* line 20, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
.gsu-box {
  background: url(/assets/unicorn-cef17a081e23d5c4db0ff7dcbedbbaaaf866789da4591a0ad1a4526a8fd9c7c0.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

/* line 29, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
.ksu-box {
  background: url(/assets/city-a703747dda6d9d53d3a43ed9b25da7f515d90f784d10b1591216c71cee1fe360.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

/* line 38, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
.app-box {
  background: url(/assets/tutor-pointing-03c092c0061d3ebf7289da5cd6e2e6d8b6d69a727a0e3f170c025d0b4bc69648.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

/* iPhone 5 view */
/* line 48, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
.home-search-box {
  display: block;
  width: 90%;
  margin: auto;
}

/* line 53, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
.home-search-field {
  display: block;
}

/* line 57, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
.home-search-field select#subject, .home-search-field select#course {
  height: 2.3em;
  padding: 0 0.5em;
  margin-bottom: 0.3em;
  border-radius: 4px;
  font-weight: 100;
}

/* line 65, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
input.home-search-button {
  display: inline-block;
  height: 2.6em;
  font-size: 0.8em;
  border: none;
  background-color: #0095AC;
  color: white;
  font-weight: 100;
  border-radius: 4px;
  width: 100%;
}

/* line 76, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
.lp-top-subjects-section {
  width: 100%;
  background-color: #0095AC;
  padding: 0.5em;
}

/* line 81, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
.top-subjects-box {
  display: block;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* line 87, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
.top-subject {
  display: block;
  padding: 0.3em;
  text-align: center;
  border-radius: 2px;
  font-weight: 100;
  background-color: #CDCDCD;
  margin: 1em 0;
  border: 1px solid #4F5252;
}

/* line 97, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
p.center.white.shadow.book-two-mins {
  margin-bottom: 5em;
}

/* iPad view */
@media screen and (min-width: 768px) {
  /* line 105, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
  .top-subject {
    display: inline-block;
    width: 24%;
  }

  /* line 109, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
  .home-search-box {
    display: block;
    width: 80%;
    margin: auto;
  }

  /* line 114, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
  .home-search-field {
    display: inline-block;
    width: 40%;
  }

  /* line 120, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
  .home-search-field select#subject, .home-search-field select#course {
    height: 2.3em;
    padding: 0 0.5em;
    margin-bottom: 0.3em;
    border-radius: 4px;
    font-weight: 100;
  }
  /* line 127, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
  .home-search-field select#subject {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    left: 4px;
  }
  /* line 135, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
  .home-search-field select#course {
    border-radius: 0;
  }

  /* line 139, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
  input.home-search-button {
    display: inline-block;
    width: 18%;
    height: 2.6em;
    font-size: 0.8em;
    border: none;
    margin-top: -1em;
    background-color: #0095AC;
    color: white;
    font-weight: 100;
    margin-left: -0.3em;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    position: relative;
    top: -1px;
  }
}
/* Full view */
@media (min-width: 1000px) {
  /* line 163, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
  .home-search-box {
    width: 40%;
  }

  /* line 166, /home/rails/my-app/app/assets/stylesheets/single_views/home.css.scss */
  .top-subject {
    margin: 0;
  }
}
