/* line 1, /home/rails/my-app/app/assets/stylesheets/custom/profile.css.scss */
.top-buffer {
  margin-top: 20px !important;
}

/* line 5, /home/rails/my-app/app/assets/stylesheets/custom/profile.css.scss */
img.profile-pic {
  cursor: pointer;
}

/* line 9, /home/rails/my-app/app/assets/stylesheets/custom/profile.css.scss */
div.profile-pic-container {
  width: 100%;
  height: 100%;
}

/* line 14, /home/rails/my-app/app/assets/stylesheets/custom/profile.css.scss */
div.profile-section {
  border: 2px solid #3F3F3F;
  margin-top: 20px;
}

/* line 19, /home/rails/my-app/app/assets/stylesheets/custom/profile.css.scss */
div.profile-section-inner {
  padding: 10px;
}

/* line 23, /home/rails/my-app/app/assets/stylesheets/custom/profile.css.scss */
div.profile-section-header {
  font-size: 1.8em;
  font-weight: 600;
  margin: 0;
  text-align: center;
  color: white;
  background-color: #3f3f3f;
}

/* line 35, /home/rails/my-app/app/assets/stylesheets/custom/profile.css.scss */
.appointment-selector__slot-selector__day--slot--neutral {
  color: grey;
  background-color: lightgrey;
  padding: 5px;
}

/* line 40, /home/rails/my-app/app/assets/stylesheets/custom/profile.css.scss */
.appointment-selector__slot-selector__day--slot--active {
  color: white;
  background-color: green;
  padding: 5px;
}
