/* line 5, /home/rails/my-app/app/assets/stylesheets/dashboard/tutor/settings.scss */
p.settings-title {
  font-weight: 400;
  margin-bottom: 0;
}

/* line 9, /home/rails/my-app/app/assets/stylesheets/dashboard/tutor/settings.scss */
.dashboard-title {
  padding: 0.5em 0;
  margin: 0;
}

/* line 13, /home/rails/my-app/app/assets/stylesheets/dashboard/tutor/settings.scss */
.sub-menu {
  padding-left: 0;
}

/* line 16, /home/rails/my-app/app/assets/stylesheets/dashboard/tutor/settings.scss */
.sub-menu a {
  color: #4F5252;
  font-weight: 100;
  padding-left: 0.4em;
}

/* line 21, /home/rails/my-app/app/assets/stylesheets/dashboard/tutor/settings.scss */
.sub-menu a:hover {
  font-weight: 400;
}

/* line 24, /home/rails/my-app/app/assets/stylesheets/dashboard/tutor/settings.scss */
.row.payment-welcome {
  border: 1px solid #BBE5EE;
  padding: 1em;
  border-radius: 4px;
  background-color: #eff1f3;
  margin-bottom: 1em !important;
}
