/* line 1, /home/rails/my-app/app/assets/stylesheets/admin/tutors.css.scss */
select#q_created_at_gteq_1i {
  width: 26%;
}

/* line 5, /home/rails/my-app/app/assets/stylesheets/admin/tutors.css.scss */
select#q_created_at_gteq_2i {
  width: 49%;
}

/* line 8, /home/rails/my-app/app/assets/stylesheets/admin/tutors.css.scss */
select#q_created_at_gteq_3i {
  width: 20%;
}

/* line 12, /home/rails/my-app/app/assets/stylesheets/admin/tutors.css.scss */
select#q_created_at_lteq_1i {
  width: 26%;
}

/* line 16, /home/rails/my-app/app/assets/stylesheets/admin/tutors.css.scss */
select#q_created_at_lteq_2i {
  width: 49%;
}

/* line 20, /home/rails/my-app/app/assets/stylesheets/admin/tutors.css.scss */
select#q_created_at_lteq_3i {
  width: 20%;
}

/* line 24, /home/rails/my-app/app/assets/stylesheets/admin/tutors.css.scss */
.applications-alert-box {
  background-color: #dd6327;
  color: white;
  font-weight: 600;
  border-radius: 10px;
}

/* line 31, /home/rails/my-app/app/assets/stylesheets/admin/tutors.css.scss */
p.applications-alert {
  padding: 0.5em;
  text-align: center;
  margin-bottom: 0;
}

/* line 37, /home/rails/my-app/app/assets/stylesheets/admin/tutors.css.scss */
input.button.radius.alert.small.expand {
  margin-bottom: 0;
}

/* line 41, /home/rails/my-app/app/assets/stylesheets/admin/tutors.css.scss */
th.active-status {
  width: 10%;
}

/* line 45, /home/rails/my-app/app/assets/stylesheets/admin/tutors.css.scss */
th.name {
  width: 15%;
}

/* line 49, /home/rails/my-app/app/assets/stylesheets/admin/tutors.css.scss */
th.email {
  width: 25%;
}

/* line 53, /home/rails/my-app/app/assets/stylesheets/admin/tutors.css.scss */
th.phone {
  width: 15%;
}

/* line 57, /home/rails/my-app/app/assets/stylesheets/admin/tutors.css.scss */
th.school {
  width: 20%;
}

/* line 61, /home/rails/my-app/app/assets/stylesheets/admin/tutors.css.scss */
th.courses {
  width: 50%;
}
