/* line 9, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.tutor-form {
  display: inline-block;
  width: 49%;
  margin-top: -2em;
  margin-bottom: 1em;
}

/* line 15, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.tutor-headline {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

/* line 20, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.tutor-headline h1 {
  color: white;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  width: 10em;
  margin-top: 0.5em;
}

/* line 27, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.landing-page.lp-bottom-sign-up-form {
  background-color: #4F5252;
  padding: 3em;
}

/* iPhone 5 view */
/* line 33, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.center {
  text-align: center;
}

/* line 36, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.white {
  color: white;
}

/* line 39, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.blue-3 {
  color: #0095AC;
}

/* line 42, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.shadow {
  text-shadow: 1px 1px 1px black;
}

/* line 45, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.bottom-margin {
  margin-bottom: 1em;
}

/* line 48, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.headline {
  font-family: 'Lato';
}

/* line 51, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.school-selection-box {
  margin: auto;
  max-width: 25em;
}

/* line 55, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
select#visitor_school_id {
  display: inline-block;
  width: 73%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

/* line 61, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
input.visitor-set-school-button {
  display: inline-block;
  width: 25%;
  height: 2.9em;
  font-size: 0.8em;
  border: none;
  margin-top: -1em;
  background-color: #0095AC;
  color: white;
  font-weight: 100;
  margin-left: -0.3em;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 75, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.school-selection {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #0095AC;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  font-size: 0.8em;
  padding: 1em;
}

/* line 86, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.book-two-mins {
  margin-bottom: 4em;
}

/* line 89, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.numbers-banner-box {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 5em;
}

/* line 94, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.number-banner {
  display: block;
  text-align: center;
  border-top: 1px solid white;
  color: white;
  margin-bottom: 0;
  padding: 0.5em;
  border-bottom: 0;
  font-family: 'Lato';
}

/* line 104, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.big-numbers {
  font-size: 1.5em;
  color: white;
}

/* line 108, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.top-banner {
  border-top: none;
}

/* line 111, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.top-padding {
  padding-top: 1.5em;
}

/* line 114, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.landing-page {
  padding: 1em;
  text-align: center;
}

/* line 118, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.landing-page p {
  text-align: center;
  max-width: 20em;
  width: 100%;
  margin: 1em auto;
}

/* line 124, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.section-header p {
  font-family: 'Roboto Slab';
  font-size: 1.2em;
  font-weight: 100;
  max-width: 20em;
}

/* line 130, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
p.axon-is-easy {
  max-width: 20em;
  margin: 0 auto 1em;
}

/* line 134, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
p.section-sub-header {
  font-family: 'Lato';
  font-size: 1.2em;
  margin-top: 0;
}

/* line 139, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
p.pic-caption {
  font-size: 1.3em;
  color: #2BC2DE;
  margin-bottom: 0;
}

/* line 144, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.pic-box-trio {
  max-width: 50em;
  margin: auto;
}

/* line 148, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.trio-pic {
  width: 100%;
  border: 1px solid #2BC2DE;
  max-width: 25em;
  margin: auto;
}

/* line 154, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.divider-line {
  display: block;
  height: 1px;
  border-bottom: 1px solid #0095AC;
  width: 60%;
  margin: auto;
}

/* line 161, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
p.difference-text {
  padding-bottom: 2em;
}

/* line 164, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.difference-icon {
  font-size: 2em;
  color: #0095AC;
}

/* line 168, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
img.testimonial-pic {
  border-radius: 100%;
  border: 1px solid black;
  width: 100%;
  max-width: 10em;
  margin-top: 1em;
}

/* line 175, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
p.testimonial-name {
  font-size: 0.8em;
  font-weight: 400;
  margin-bottom: 2em;
}

/* line 180, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
a.faqs-link:hover {
  padding: 1em 5em;
  background-color: #0095AC;
  color: white;
  border-radius: 4px;
}

/* line 186, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.campus-pic-boxes {
  margin-bottom: 3em;
}

/* line 189, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.campus-pic-box {
  width: 100%;
  margin: 1em auto;
  max-width: 15em;
  overflow: hidden;
}

/* line 195, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
p.campus-pic-title {
  font-size: 5em;
  font-weight: 900;
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
}

/* line 201, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
p.campus-pic-title:hover {
  color: white;
}

/* line 204, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.lp-campus-pics-section {
  background-color: #4F5252;
  color: white;
  padding-top: 0;
}

/* line 209, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
p.select-campus-pic {
  margin: auto;
  padding: 2em;
  color: white;
}

/* iPad view */
@media screen and (min-width: 768px) {
  /* line 221, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
  p.axon-is-easy {
    font-size: 1.6em;
    margin-bottom: -1em;
  }

  /* line 225, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
  .school-selection {
    width: 50%;
    margin: 1em auto;
  }

  /* line 229, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
  .section-header {
    padding: 1em;
  }

  /* line 232, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
  .pic-box {
    width: 50%;
    margin: 3em auto 1em;
  }

  /* line 236, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
  .campus-pic-boxes {
    margin-bottom: 5em;
  }

  /* line 239, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
  .campus-pic-box {
    margin: auto;
    display: inline-block;
    padding: 1em;
  }
}
/* Full view */
@media (min-width: 1000px) {
  /* line 253, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
  .school-selection-box {
    width: 40%;
    margin: auto;
  }

  /* line 257, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
  .school-selection {
    display: inline-block;
    width: 49%;
    text-align: center;
    background-color: #0095AC;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    font-size: 0.8em;
  }

  /* line 267, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
  .number-banner {
    display: inline-block;
    width: 33%;
    border: none;
    vertical-align: top;
  }

  /* line 273, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
  .pic-box {
    width: 33%;
    display: inline-block;
    padding: 2em;
    vertical-align: top;
    margin: 0;
  }

  /* line 280, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
  .four-differences-boxes {
    width: 80%;
    margin: auto;
  }

  /* line 284, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
  .difference-box {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding: 0 1em;
  }

  /* line 290, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
  .testimonial-box {
    display: inline-block;
    width: 49%;
    padding: 0 1em;
    vertical-align: top;
  }

  /* line 296, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
  p.difference-text {
    padding-bottom: 2em;
    max-width: 20em;
  }
}
/* Tutor sign-up form */
/* line 304, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.sign-up-form-box {
  display: inline-block;
  padding: 1em;
  border-radius: 4px;
  background-color: #0095AC;
  width: 16em;
}
/* line 310, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.sign-up-form-box p {
  color: white;
  font-size: 0.7em;
  margin: 1em 0 0.5em;
}

/* line 316, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
form#new_user {
  padding: 0 1.2em;
}

/* line 319, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
p.sign-up-title {
  font-size: 1.1em;
  margin: 0.3em 0 1em;
  font-weight: 100;
}

/* line 324, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.half-form-row {
  display: inline-block;
  width: 49%;
}

/* line 328, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
input#user_first_name, input#user_last_name, input#user_email, input#user_password, input#user_tutor_phone_number, input#rate {
  height: 2em;
  margin-bottom: 0.3em;
  border-radius: 4px;
  font-weight: 100;
}

/* line 334, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
select#school, select#subject, select#course {
  height: 2em;
  padding: 0 0.5em;
  margin-bottom: 0.3em;
  border-radius: 4px;
  font-weight: 100;
}

/* line 341, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.green {
  background-color: #58AA4D;
}

/* line 344, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.landing-page.lp-first-section {
  padding-top: 4em;
}

/* line 348, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.nav-campus-box.nav-link-box {
  display: none;
}

/* line 351, /home/rails/my-app/app/assets/stylesheets/single_views/tutor_landing.css.scss */
.nav-links-right {
  display: none;
}
