/* line 1, /home/rails/my-app/app/assets/stylesheets/custom/tutors.css.scss */
.tutor-card {
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 1em;
  text-align: center;
  height: 25em;
  overflow: hidden;
  margin: 1em 0;
}

/* line 11, /home/rails/my-app/app/assets/stylesheets/custom/tutors.css.scss */
.profile-pic-container-index-page {
  margin: auto;
}

/* line 15, /home/rails/my-app/app/assets/stylesheets/custom/tutors.css.scss */
.profile-pic {
  position: relative;
}
