<!-- THE TWO SECTIONS ON THIS PAGE ABOVE AND BELOW THE RENDERED PARTIAL ARE HERE BECAUSE THEY SHOULD ONLY BE PRESENT FOR TUTORS VIEWING THEIR PROFILE - NOT FOR ADMIN OR PUBLIC VIEWERS -->

<!-- Share profile page link & edit profile button -->
<div class="row">
  <div class="medium-12 columns">
    <p>
      Share your profile link: <%= link_to "www.axontutors.com/tutors/#{@tutor.user.friendly_id}", tutor_path(@tutor.user) %>
      <br>
      <a href="<%= dashboard_edit_profile_user_path %>"</a>
      <button type="button" class="btn-labeled radius primary right" id="edit_profile_button">
        Edit
      </button>
    </p>
  </div>
</div>

<%= render 'tutor_profile' %>

<!-- Update Profile Pic Modal -->
<div id="myModal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <%= render '/dashboard/profile/update_profile_pic' %>
</div>