<div class="row box awaiting-approval">
  <div class="small-12 columns">
    <h1>Welcome to your Dashboard, <%= @tutor.first_name %></h1>
    <p>This is your online home for your personal tutoring business. You can edit your profile, add or remove courses, adjust your rates, create promotions, set your availability and much more.</p>
    <p>Please allow us 1-2 days to review your account and ensure proper setup before activation. While you cannot accept bookings just yet, go ahead and explore your dashboard and make yourself familiar with your new tools.</p>
  </div>
</div>