<!-- Partials of all the various info boxes/widgets for the home screen can be placed here -->
<style>
.dashboard-title {
  padding: 0.5em 0;
}
.sub-menu {
  padding-left: 0;
}
.sub-menu a {
  color: #4F5252;
  font-weight: 100;
  padding-left: 0.4em;
}
.sub-menu a:hover {
  font-weight: 400;
}
a.payment-settings-link {
  color: white;
  font-weight: 100;
  background-color: #0095AC;
  padding: 0.4em 1em;
  border-radius: 5px;
}
a.payment-settings-link:hover {
  font-weight: 100;
}
</style>
<section class="dashboard-content">
  <div class="row">
    <h2 class="dashboard-title">Setttings Manager</h2>
  </div>
  <div class="row">
    <div class="medium-3 columns sub-menu">
      <%= render 'vertical_sub_menu' %>
    </div>
    <div class="medium-4 columns end">
      <%= render 'account_status', tutor: @tutor %>    
    </div>
  </div>
</section>