<div class="row">
  <div class="small-12 columns">
    <p id="tutor-no-cancel-temp-notice"><span>Important Notice Regarding Cancelations:</span> We are no longer able to accommodate online tutor cancelations. If you are unable to keep an appointment, please reach out to the student directly to reschedule. Please contact us at <a href="tel:7625854850" class="blue-link">(762) 585-4850</a> or <a href="mailto:info@axontutors.com" class="blue-link">info@axontutors.com</a> with any questions or concerns.</p>  
  </div>
</div>