<h4 class="dash-home-header">Support</h2>
<div class="box">
  <h5>Your Campus Manager</h5>
  <p>Katie F.</br><%= mail_to 'katie@axontutors.com', nil, class: 'blue-link' %></p>
  <h5>Axon Headquarters</h5>
  <p>(762) 585-4850</br><%= mail_to 'info@axontutors.com', nil, class: 'blue-link' %></p>
</div>