<section class="dashboard tutor">
  <div class="wrapper">
    <div class="wrapper__text">
      <h1 class="title">Home</h1>
    </div>

    <% if @tutor.application_status == 'Incomplete' %>
      <%= render 'layouts/partials/tutor/application' %>
    <% end %>
    
  </div>
</section>