<% if @tutor.application_status == 'Incomplete' %>
  <!-- only application shows (no other home screen stuff) until application is completed -->
  <%= render 'layouts/partials/tutor/application' %>
<% elsif @tutor.application_status == 'Approved' %> %>
  <!-- normal home screen once application is completed and approved-->
  <section class="dashboard tutor">
    <div class="wrapper">
      <div class="wrapper__text">
        <h1 class="title">Home</h1>
      </div>
      <!-- Graphs, lists, calendar, messages, etc. for home screen go here -->
    </div>
  </section>
<% end %>