  <nav role="navigation" class="navigation--primary">
    <ul class="navigation-menu site-nav">
      <li class="menu-item">
        <a href="{{ url }}">Login</a>
      </li>
      <li class="menu-item">
        <a href="{{ url }}">Sign Up</a>
      </li>
    </ul>
  </nav>
