  <nav role="navigation" class="navigation--schools">  
    <ul class="navigation-menu dropdown-menu">
      <li class="menu-item has-dropdown">
        <input type="checkbox" id="dropdown-toggle" style="display:none">
        <label for="dropdown-toggle" class="dropdown-toggle">
          Choose Your School
        </label>
        <ul class="submenu">
          <li><a href="#">University of Georgia</a></li>
          <li><a href="#">Georgia State University</a></li>
          <li><a href="#">App State</a></li>
          <li><a href="#">Kennesaw State</a></li>
        </ul>
      </li>
    </ul>
  </nav>
