  <nav role="navigation" class="navigation--dashboard">
    <ul class="navigation-menu student-dashboard-nav">
      <li class="menu-item">
        <a href="{{ url }}" class="active">Contact Information</a>
      </li>
      <li class="menu-item">
        <a href="{{ url }}">Payments</a>
      </li>
    </ul>
  </nav>