<!-- Place immediately inside of parent div with correct grid sizing -->
<% if @course %>
  <select name="course[course_id]" id="course" required="true">
    <% @school.courses_for_subject(@subject.id).each do |course| %>
      <% if course[:id] == @course.id %>
        <option selected="true" value="<%= @course.id %>"><%= @course.friendly_name %></option>
      <% else %>
        <option value="<%= course[:id] %>"><%= course[:name] %></option>
      <% end %>
    <% end %>
  </select>
<% else %>
  <select name="course[course_id]" id="course" required="true">
    <option disabled="true" selected="true" value="">Select Course</option>
  </select>
<% end %>