<!-- Place immediately inside of parent div with correct grid sizing -->

<select name="tutor_course[course_id]" id="course" required="true">
  <option disabled="true" selected="true" value="">Course</option>
</select>

<!-- <select name="course[course_id]" id="course" required="true">
  <option disabled="true" selected="true" value="">Course</option>
</select> -->