<!-- Place immediately inside of parent div with correct grid sizing -->
<div class="rate-container">
  <div class="dollar-sign">$</div>
  <input name="tutor_course[rate]" id="rate" class="rate-input" type="text" required="true" min="1" step="1" pattern="\d*" placeholder="25">
  <div class="per-hour">/hr.</div>
</div>