<!-- Place immediately inside of parent div with correct grid sizing -->

<div class="row collapse">
  <div class="small-2 large-2 columns">
    <span class="prefix">$</span>
  </div>
  <div class="small-7 medium-4 large-5 columns">
    <input name="tutor_course[rate]" id="rate" type="number" required="true" min="1" step="1" pattern="\d*" placeholder="25" style="text-align: center; border-right-width: 0px;">
  </div>
  <div class="small-3 medium-6 large-5 columns">
    <span class="postfix">per hour</span>
  </div>
</div>
