<!-- Place immediately inside of parent div with correct grid sizing -->

<% if current_user && current_user.school %>
  <!-- Only displays a user's set school in search when a user is logged in -->
  <div class="dropdown--school">
    <div class="select-wrapper">
      <select name="course[school_id]" id="school" class="select-menu" required="true">
        <option selected="true" value="<%= current_user.school.id %>">
          <%= current_user.school.name %>
        </option>
      </select>
    </div>
  </div>

<% else %>
  <!-- Displays all schools in form for student sign-up and search for visitors -->
  <div class="dropdown--school">
    <div class="select-wrapper">
      <select name="course[school_id]" id="school" class="select-menu" required="true">
        <option disabled="true" selected="true" value="">School</option>
        <% School.all.each do |school| %>
          <option value="<%= school.id %>"><%= school.name %></option>
        <% end %>
      </select>
    </div>
  </div>
<% end %>





