<!-- Place immediately inside of parent div with correct grid sizing -->
<select name="course[school_id]" id="school" class="select-menu" required="true">
  <option selected="true" disabled="true" value="">School</option>
  <% School.all.each do |school| %>
    <option value="<%= school.id %>"><%= school.name %></option>
  <% end %>
</select>