<!-- Place immediately inside of parent div with correct grid sizing -->
<div class="dropdown--course">
  <div class="select-wrapper">
    <select name="tutor_course[course_id]" id="course" class="select-menu" required="true">
      <option disabled="true" selected="true" value="">Course</option>
    </select>
  </div>
</div>