<div class="admin-header">
  <div class="row">
    <h3 class="admin-title"><%= @school.blank? ? 'Admin Panel' : 'Campus Manager Panel' %></h3>
    <h3 class="school-name"><%= @school.blank? ? 'All Schools' : "#{@school.name}" %></h3>
  </div>
  <nav class="admin-nav">
    <div class="row">
      <div class="small-12 columns">
        <dl class="sub-nav">
          <% generate_admin_nav_links %> <!-- calls AdminNavHelper.generate_admin_nav_links to set @admin_links -->
          <% @admin_links.each do |name, link| %>
            <% if @current == name %>
              <dd class="active"><%= link_to name, link %></dd>
            <% else %>
              <dd><%= link_to name, link %></dd>
            <% end %>
          <% end %>
        </dl>
      </div>
    </div>
  </nav>
</div>