<div class="row">
  <div class="small-12 columns">    
    <h3>Campus Manager</h3>
  </div>

  <%= form_for @campus_manager, url: campus_manager_admin_school_path(@working_school) do |f| %>
    <div class="small-12 columns">
      <%= f.label :user_id, 'User ID' %>
      <%= f.number_field :user_id %>
    </div>
    <div class="small-12 columns">
      <%= f.submit 'Update', class: 'custom-button' %>
    </div>
  <% end %>
</div>