<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #221920;"></span>
    <span class="sg-label">Black</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #FAFAFA;"></span>
    <span class="sg-label">White</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #808384;"></span>
    <span class="sg-label">Gray</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #4F5252;"></span>
    <span class="sg-label">Primary Text Color</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #0095AC;"></span>
    <span class="sg-label">Primary / Accent Color</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #58AA4D;"></span>
    <span class="sg-label">Secondary / Highlight Color</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #DE511E;"></span>
    <span class="sg-label">Alert / CTA Color</span>
  </li>
</ul>
<p>flash colors</p>
<ul class="sg-colors">
  <li>
    <span class="sg-label">alert color</span>
    <span class="sg-swatch" style="background: #ffeb3b;"></span>
  <li>
    <span class="sg-label">error color</span>
    <span class="sg-swatch" style="background: #e91e63;"></span>
  <li>
    <span class="sg-label">success color</span>
    <span class="sg-swatch" style="background: #4caf50;"></span>
</ul>