---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: US-ASCII
      string: country=US&debit_negative_balances=true&email=test1%40example.com&legal_entity[dob][day]=15&legal_entity[dob][month]=10&legal_entity[dob][year]=1988&legal_entity[first_name]=Bob&legal_entity[last_name]=Dole&legal_entity[type]=individual&managed=true&tos_acceptance[date]=1456947091&tos_acceptance[ip]=75.137.2.212
    headers:
      Authorization:
      - Bearer sk_test_4VObNRAiXCBixyd9lpO2sdeP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_17kfh1GUzmmEZmmK",
          "object": "account",
          "bank_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_17kfh1GUzmmEZmmK/bank_accounts"
          },
          "business_logo": null,
          "business_name": null,
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "currencies_supported": [
            "usd",
            "aed",
            "afn",
            "all",
            "amd",
            "ang",
            "aoa",
            "ars",
            "aud",
            "awg",
            "azn",
            "bam",
            "bbd",
            "bdt",
            "bgn",
            "bif",
            "bmd",
            "bnd",
            "bob",
            "brl",
            "bsd",
            "bwp",
            "bzd",
            "cad",
            "cdf",
            "chf",
   [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_17kfh1GUzmmEZmmK/external_accounts
    body:
      encoding: US-ASCII
      string: external_account=btok_80h5nq7srFE2dI
    headers:
      Authorization:
      - Bearer sk_test_4VObNRAiXCBixyd9lpO2sdeP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_17kfh1GUzmmEZmmK
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_17kfh4GUzmmEZmmKjr72mkrH",
          "object": "bank_account",
          "account": "acct_17kfh1GUzmmEZmmK",
          "account_holder_name": "Jane Austen",
          "account_holder_type": "individual",
          "bank_name": null,
          "country": "CA",
          "currency": "usd",
          "default_for_currency": true,
          "fingerprint": "fR4uMEQpATm6xYD6",
          "last4": "6789",
          "metadata": {},
          "routing_number": "11000-000",
          "status": "new",
          "name": "Jane Austen"
        }
  recorded_at: Wed, 02 Mar 2016 19:31:34 GMT
recorded_with: VCR 3.0.1
