---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: US-ASCII
      string: amount=2000&currency=usd&description=Reconciliation+for+Promo+ID+%231&destination=acct_17kfh1GUzmmEZmmK
    headers:
      Authorization:
      - Bearer sk_test_4VObNRAiXCBixyd9lpO2sdeP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_17kjBY4Iy02hWvBEM0JeyeZV",
          "object": "transfer",
          "amount": 2000,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_17kjBY4Iy02hWvBEi6XKa5m2",
          "created": 1456960516,
          "currency": "usd",
          "date": 1456960516,
          "description": "Reconciliation for Promo ID #1",
          "destination": "acct_17kfh1GUzmmEZmmK",
          "destination_payment": "py_17kjBYGUzmmEZmmKnLe5Apo7",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_17kjBY4Iy02hWvBEM0JeyeZV/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "type": "stripe_account"
        }
  recorded_at: Wed, 02 Mar 2016 23:15:17 GMT
recorded_with: VCR 3.0.1
