---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=1725&application_fee=225&currency=usd&description=Student%3A+Bob+Dole%2C+Tutor%3A+Bob+Dole%2C+Course%3A+Math+101%3A+Pre+Calculus%2C+School%3A+University+of+Georgia%2C+Appts%3A+1%2C+Time%28s%29%3A+[%22Friday%2C+March++4+at++7%3A00+AM%22]&destination=acct_17kfh1GUzmmEZmmK&source=tok_17kiVl4Iy02hWvBEcKLLNMvD
    headers:
      Authorization:
      - Bearer sk_test_4VObNRAiXCBixyd9lpO2sdeP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17kiit4Iy02hWvBEXOSQWTkN",
          "object": "charge",
          "amount": 1725,
          "amount_refunded": 0,
          "application_fee": "fee_80kDuKVXY1n05v",
          "balance_transaction": "txn_17kiit4Iy02hWvBEyJyEs2Hs",
          "captured": true,
          "created": 1456958739,
          "currency": "usd",
          "customer": null,
          "description": "Student: Bob Dole, Tutor: Bob Dole, Course: Math 101: Pre Calculus, School: University of Georgia, Appts: 1, Time(s): [\"Friday, March  4 at  7:00 AM\"]",
          "destination": "acct_17kfh1GUzmmEZmmK",
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17kiit4Iy02hWvBEXOSQWTkN/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17kiVl4Iy02hWvBEmriq2bLr",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "ZmaKPeHcm3bbIjWC",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer": "tr_17kiit4Iy02hWvBE2wAgERlL"
        }
  recorded_at: Wed, 02 Mar 2016 22:45:40 GMT
recorded_with: VCR 3.0.1
