.alert {
  @extend %flash-base;
  border: 1px solid transparent;
  border-radius: $base-border-radius;
  position: relative;
  width: 100%;
  z-index: 99999;
  margin: 0 auto;
  
  @include media($medium-screen) {
    max-width: 50%;
  }

  #flash_alert {
    float: left;
  }

  .close {
    width: auto;
    padding: 0;
    background-color: transparent;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    color: $black;
    text-shadow: 0 1px 0 $white;
    filter: alpha(opacity=20);
    opacity: .2;

    &:hover,
    &:focus {
      color: $black;
      text-decoration: none;
      cursor: pointer;
      filter: alpha(opacity=50);
      opacity: .5;
    }
  }
}

.alert-success {
  @extend %flash-success;
}

.alert-info {
  @extend %flash-alert;
}

.alert-notice {
  @extend %flash-notice;
}

.alert-danger {
  @extend %flash-error;
}
