.earnings_chart {
  .bar {
    fill: steelblue;
    transition: fill 0.5s;

    &:hover {
      fill: #ff6600;
    }
  }

  .axis {
    font: 10pt arvo, sans-serif;

    path, line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    &.x path {
      display: none;
    }
  }
}
