form {
  max-width: 36em;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
}

input[type="tel"] {
	max-width: em(132);
}

// Make better looking select boxes
.select-wrapper {
	border: solid 1px #a8a8a8;
  background-color: white;
	position: relative;
	width: 100%;
	padding: em(8);
	margin-bottom: 1em;

	&::before {
		content: '\25bc';
    position: absolute;
    pointer-events: none;
    color: #a8a8a8;
    top: 0;
    bottom: 1px;
    padding-top: 0.7em;
    line-height: 1;
    right: 0;
    width: 2em;
    text-align: center;
	}

	&:active,
	&:hover,
	&:focus {
		border-color: transparent;
		-webkit-box-shadow: 0 0 3px 0 $hover-link-color;
		box-shadow: 0 0 3px 0 $hover-link-color;
	}
}

// Make select options background white
select {
  background-color: white;
}

// Wrapper addes the border, now remove all browser chrome from the input
.select-menu {
	-webkit-appearance: none;
	border: none;
	width: 100%;
	margin: 0;

	&:active,
	&:hover,
	&:focus {
		-webkit-appearance: none;
		outline: none;
	}
}

// Specific forms

// Availability Calendar options

.availability-options form {
  input[type="number"] {
    max-width: em(64);
    padding: $pad-half;
    margin: 0 $pad-half;
  }

  .recurring-value {
    input, label, span {
      float: left;
    }

    label, span {
      line-height: em(36);
    }
  }

  @include media($medium-screen) {
  	// Knocking the font size down to better fit the column
	  font-size: 14px;
  }
}

// Tutor Search Page
.search-criteria {
	display: block;
	width: 100%;

	.field-container {
		position: relative;
		float: left;
		padding: em(4);
		width: 100%;
		text-align: center;
	}

	.btn--search {
		width: 100%;
		max-width: 75%;
		margin: em(8) auto;
	}

	@include media($medium-screen) {
		max-width: 100%;

		.field-container {
			max-width: ( 100% / 4 );
		}

		.btn--search {
			max-width: 100%;
			margin: em(27) 0 0;
		}
	}
}

// Checkout Form
.checkout-form {
  .form-group {
    @extend .row;
    width: 100%;
    float: left;
    margin-bottom: em(8);
    
    > div {
      @include media($medium-screen) {
        display: inline-block;
      }
    }
  }

  .ccn {
    width: 95%;
  }

  .cvc-wrap,
  .expiration-wrap {
    float: left;
  }

  .cvc-wrap {
    width: 20%;
    max-width: 4em;
  }

  input[type="checkbox"] {
    width: auto;
  }

  .expiration-wrap {
    width: 75%;
    max-width: 12em;

    > input,
    .seperator {
      float: left;
      width: auto;
      margin-right: em(4);
    }

    @include media($large-screen) {
      width: 60%;
    }
  }
}

.student-dashboard form {
	margin-left: 0;
	font-size: 24px;

	input[type="text"],
	input[type="email"] {
		max-width: 85%; 

		@include media($medium-screen) {
			max-width: 60%
		}
	}
}

.hero--landing form.registration {
  background-color: $white;
  padding: 1em;
  border-radius: em(2);
  margin: 2em auto;
}