.navigation-menu {
  width: auto;

  @include media($medium-screen) {
    float: left;
  }
}

.navigation--primary {
  font-size: 1rem;
  display: inline-block;
  font-weight: bold;

  @include media($medium-screen) {
    display: table;
    border-collapse: separate;
    border-spacing: em(8) em(4);
    width: auto;
    float: right;
    margin-right: -1em;
  }
}

.navigation--schools {
  @extend .navigation--primary;
  float: right;
  width: auto;
  z-index: 900;

  @include media($medium-screen) {
    float: left;
  }
}

.navigation--schedule {
  width: 100%;
}

// The nav items
.menu-item {
  font-size: 1.1em;
  background-color: transparent;
  float: left;
  position: relative;
  overflow: visible;
  width: 100%;

  @include media($medium-screen) {
    width: auto;
  }

  a {
    display: inline-block;
    width: 100%;
    padding: 0.7em;
    color: $base-link-color;

    &:focus,
    &:hover {
      color: darken($hover-link-color, 20%);
    }

    @include media($medium-screen) {
      padding: 0.7em $pad;
    }
  }
}

.site-nav {
  background-color: lighten($gray, 25%);
  margin-top: em(8);
  overflow: hidden;

  .menu-item {
    max-width: 50%;
  }

  @include media($medium-screen) {
    background-color: transparent;
    margin: 0;

    .menu-item {
      max-width: 100%
    }
  }
}

.calendar-nav {
  width: 100%;

  .menu-item {
    width: 100%;
    margin: 0 auto ( $base-spacing / 3 );

    @include media($medium-screen) {
      margin-bottom: 0;
      max-width: 50%;
    }
  }

  .btn.date-range-paginate {
    @extend .btn--clear;

    @include media($medium-screen) {
      &.previous {
        float: left;
      }

      &.next {
        float: right;
      }
    }
  }
}

.breadcrumbs {
  background-color: $grayLT;
  padding: $pad-half;
  width: 100%;
  float: left;
  font-size: 14px;
  border-radius: 2px;

  > li {
    position: relative;
    float: left;
    padding: 0 ( $pad / 4 );
    min-width: 16%;
    text-align: center;

    &:not(:last-child):after {
      content: "/";
      position: absolute;
      right: -2px;
      top: -5px;
    }
  }

  a {
    text-transform: uppercase;
  }
}

.student-dashboard-nav {
  .menu-item {
    width: 100%;

    a {
      padding: $pad;
      margin: em(8) 1em;
      width: calc( 100% - 2em );
      display: block;

      &.active,
      &:hover,
      &:focus {
        background-color: $base-link-color;
        color: $white;
      }
    }
  }
}