// Styles for the various profile pages in the system

.profile {
  article {
    @extend .row;
  }
}

.tutor-profile {
  font-size: 14px; // Shrink the base font size down just a bit for this section

  .tutor-image {
    @extend .gi-1-3;
    text-align: center;

    img {
      @extend %flexible-media;
      max-width: em(300);
    }
  }
  .tutor-qualifications {
    @extend .gi-2-3;
    padding: $pad 0;

    @include media($medium-screen) {
      padding-right: $pad-double;
      padding-left: $pad-double;
    }
  }
}

