.availability-options {
  @extend .gi-1-5;
  padding: $pad 0;

  @include media($large-screen) {
    // we want this to move out of the usual flow and be on the right sidebar at a large screen
    float: right;
    padding: 0 ( $pad * 1.25 ) $pad;
  }
}

.fullcalendar {
   @extend .gi-4-5;
}

.availability-calendar {
  header, 
  footer {
    padding: $pad 0;
  }

  .dropdown--subject {
    label {
      float: left;
      width: 40%;
      margin: 0;
      padding: em(6);
      font-size: 1.2em;

      @include media($medium-screen) {
        text-align: right;
        width: 60%;
      }
    }

    .select-wrapper {
      float: right;
      width: 60%;
      margin: 0;

      @include media($medium-screen) {
        width: 40%;
      }
    }
  }

  .title, 
  .dropdown--subject {
    float: left;
    margin: 0 auto $base-spacing;
    width: 100%;

    @include media($medium-screen) {
      width: 50%;
    }
  }

  footer {
    @extend %flex__wrapper;

    .btn {
      float: right;
    }

    .column {
      @extend %flex__box--third;
      padding: 0;

      p {
        margin: 0 auto;
        line-height: 1.2;
        text-align: center;
      }
    }

    .submit {
      // Bump up the font size to make it stand out a bit
      font-size: 21px;
      margin-top: $base-spacing;

      @include media($medium-screen) {
        margin: 0 auto;
      }
    }
  }
}

// These rules should apply to *any* schedule. 
.schedule {
  @extend %flex__wrapper;
  // Bump the base font size up just a bit to make things easier to touch on mobile.
  font-size: 18px; 
  width: 100%;
  float: left;

  .day {
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .available-times {    
    > li {
      padding: $pad-half;
    }

    a {
      width: 100%;
      max-width: 7em;
      padding: ( $pad / 4 );
      margin: 0 auto;
      display: block;
      color: $highlightColor;
      background-color: $white;
      border: solid 1px $highlightColor;
      border-radius: 2px;

      &:hover,
      &:focus {
        background-color: $highlightColor;
        color: $white;
      }
    }
  }
}

// These rules are for the **Weekly** Schedule.
.weekly-schedule {

  .day {
    float: left;
    @include media($medium-screen) {
      // 100% width on medium screens and larger,
      // divide into 7 equal columns automagically
      width: calc( 100% / 7 );

      &:nth-child(odd) {
        background-color: $grayLT;
      }
    }
  }

  label {
    @extend h3;
    width: 100%;
    margin: 0 auto;
    padding: $pad-half 0;
    background-color: lighten($accentColor, 5%);
    color: $white;

    @include media($medium-screen) {
      cursor: default;
      background-color: $white;
      color: $primaryTextColor;

      &:hover {
        color: inherit;
      }
    }
  }

  .radio {
    display: none;
  }

  .available-times {
    @include transition-property(margin);
    @include transition-duration(100ms);
    @include transition-timing-function(ease-in);
    @include transition-delay(0);
  }

  .radio ~ .available-times {
    height: 0;    
    min-height: 0; max-height: 0;
    margin: 0;
    overflow: hidden;

    @include media($medium-screen) {
      height: auto;
      min-height: 3em;
      max-height: 100%;
      margin: $base-spacing auto;
    }
  }

  .radio:checked ~ .available-times {
    // I kind of hate duplicating here, but it won't work without doing so. - @TORCH
    height: auto;
    min-height: 3em;
    max-height: 100%;
    margin: $base-spacing auto;
  }
}