/* Sections */
// Rules that apply primarily to section elements. 
// Elements contained within sections can be found in the corresponding theme/*.scss file
section {
  background-color: $white;
}

section[role="main"]{
  min-height: em(400);
}

%section-with-background {
  background-color: $white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main {
  background-color: $white;

  &.register,
  &.login {
  	.title {
  		text-align: center;
  	}
  }
}

.secondary-nav {
	padding-bottom: 0;
}

.how-does-axon-work {
	padding-bottom: 3em;

	.wrapper {
		background-color: $white;

		.title {
			text-align: center;
		}

		@include media($large-screen) {
			margin-top: -6em;
			padding: ( $pad * 2 ) $pad;
			-webkit-box-shadow: 0 0 3px 1px rgba($black, 0.5);
			box-shadow: 0 0 3px 1px rgba($black, 0.5);
		}
	}
}

.upcoming-exams[role="main"],
.student-dashboard[role="main"],
.login[role="main"],
.register[role="main"] {
	min-height: 41em;
}