th {
  @include media($large-screen) {
  	border-bottom: 1px solid darken($base-border-color, 15);
  }
}

tr {
	border: solid 1px rgba($base-border-color, 0.5);
	box-shadow: 0 2px 1px 1px rgba($base-border-color, 0.25);
}

td {
	&:first-child {
		background-color: lighten($gray, 20%);
	}

	@include media($large-screen) {
  	border-bottom: $base-border;

  	&:first-child {
  		background-color: $white;
  	}
  }
}

.tabular-data,
.tabular-data--large {
  margin: 0 auto 2em;
  
  tr th,
  tr td {
    padding: em(8);
  }

  td:before {
    font-weight: bold;
  }

  @include media($large-screen) {
    table-layout: auto;
  }
}

.tabular-data {
  @extend %responive-tables;
  @include responive-tables('Date', 'Time', 'Subject');

}

.tabular-data--large {
  @extend %responive-tables-large;
  @include responive-tables-large('Date', 'Time', 'Subject', 'Location', '');
}