<div class="page secondary" id="page">
  {{> organisms-header }}
  <section class="secondary-content main" role="main">
	  <div class="wrapper">
	    {{> organisms-article-body }}
	  </div>
	</section>
  {{> organisms-footer }}
</div>