<div class="page secondary" id="page">
  {{> organisms-header }}
  <section class="main register login" role="main">
	  <div class="wrapper">
	  	<h1 class="title">Register</h1>
	    {{> molecules-registration }}
	  </div>
	</section>
  {{> organisms-footer }}
</div>