<div class="page" id="page">
  {{> organisms-header }}
  {{> organisms-dashboard-navigation }}
  {{> organisms-dashboard-header }}
  {{> organisms-dashboard-availability }}
  {{> organisms-dashboard-earnings }}
  {{> organisms-footer }}
</div>