<div class="page" id="page">
  {{> organisms-header }}
  {{> organisms-dashboard-navigation }}
  {{> organisms-dashboard-profile }}
  {{> organisms-dashboard-availability }}
  {{> organisms-footer }}
</div>