<div class="page landing-page" id="page">
  {{> organisms-header }}
  <section class="hero--landing">
	  <div class="wrapper g-2up">
	  	<div class="gi">
	  		<h1 class="title">Join with Nic!</h1>
	  	</div>
	  	<div class="gi">
	    	{{> molecules-registration }}
	    </div>
	  </div>
	</section>
	{{> organisms-home-main }}
  {{> organisms-footer }}
</div>