<nav>
  <div class="nav-bar-wrapper clear-nav">
    <div class="row nav-row">
      <div class="nav-logo-box nav-link-box">
        <%= link_to '/' do %>
          <%= image_tag('logo_white.png', class: 'nav-logo') %>
        <% end %>
      </div>
      <div class="nav-links-right-container nav-link-box">
        <div class="nav-links-right"><%= link_to 'Login', new_user_session_path, class: 'become-a-tutor-button' %></div>
      </div>
    </div>
  </div>
</nav>