// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

fieldset legend.admin-panel {
    background: none;
}

fieldset.admin-panel {
    padding-bottom: 0;
}

legend.search-field-legend {
    background: none;
}