/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/bower_components of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require Jcrop/css/Jcrop.min
 *= require sweetalert
 *= require fullcalendar
 *= require qTip2/jquery.qtip.min.css
 *= require framework_and_overrides
 */

  p, h1, h2, h3, h4, h5, h6, th, td, li, a, input, select, textarea, label, span, button {
    font-family: 'Lato' !important;
    color: #4F5252;
    max-width: 40em;
  }

  p, h1, h2, h3, h4, h5, h6 {
    max-width: 40em;
  }

  p {
    font-weight: 400;
  }

  .nav-wrapper {
    display: block;
    width: 100%;
  }

  body {
    background-color: #FAFAFA;
  }

  section {
    margin: 0 !important;
  }

  footer {
    // margin-top: 3em;
  }

  .row.full-width.main-content {
      min-height: 100%;
  }

  .row{
    &.full-width{
      max-width: 100%;
      background-color: #FAFAFA;
      .row{
        margin: 0 auto;
        max-width: 62.5rem;
        &.new-tutor-partial-wrapper {
          margin: 1em auto;
        }
      }
      .dashboard-content {
        margin-bottom: 3em !important;
        &.new-tutor-partial {
          min-height: 0;
        }
      }
      &.footer-bg {
        background-color: #0095AC;
      }
    }
  }

  .custom-button {
    background-color: #58AA4D;
    padding: 0.5em 2em;
    font-weight: 100;
    font-size: 0.8em;
    font-family: 'Lato';
    border-radius: 4px !important;
    border: none;
    color: white;
    margin-bottom: 1em;
    text-align: center;
    &.full-width {
      width: 100%;
    }
    &.no-margin {
      margin: 0;
    }
    &.blue {
      background-color: #0095AC;
    }

    &:hover,
    &:active {
      color: white;
    }
  }

  @mixin border-box {
    border: 1px solid #BBE5EE;
    padding: 1em;
    border-radius: 4px;
    background-color: #eff1f3;
  }

/* Styling for the Devise login form page */

  form#new_user {
    padding: 0;
  }
  .pwd-label {
    display: inline-block;
  }
  .forgot-pwd {
    font-size: 0.7em;
    float: right;
    margin-top: 0.5em;
    color: #4F5252;
  }
  input#user_remember_me {
    margin-right: 0.5em;
  }
  label.remember-me {
    font-size: 0.8em;
    padding-top: 0.5em;
  }
  h3.sign-in {
    margin-top: 2em;
  }

/* Styling for the main Nav bar */

    /* for iPhone 5 */
    .nav-bar-wrapper {
      width: 100%;
      background-color: #FAFAFA;
      border-bottom: 1px solid #CFCECE;
      box-shadow: 1px 1px 1px #CFCECE;
      &.clear-nav {
        background: none;
        border-bottom: 0;
        box-shadow: none;
      }
    }

    .nav-logo-box.nav-link-box {
      text-align: center;
      width: 100%;
    }
    .nav-campus-box.nav-link-box {
      display: none;
    }
    .nav-links-right-container.nav-link-box {
      display: none;
    }
    .nav-logo {
      height: 3em;
      position: relative;
      top: 1em;
    }

    /* for iPad */

    @media screen and (min-width: 768px) {
    .nav-bar-wrapper {
      display: block;
      z-index: 1000000;
      padding: 0.2em 0 0.4em;
    }
    .nav-row {
      display: block;
      height: 3em;
    }
    .nav-logo {
      position: static;
    }
    .nav-logo-box.nav-link-box {
      text-align: center;
      width: initial;
      background-color: inherit;
    }
    .nav-campus-box.nav-link-box {
      display: inline-block;
    }
    .nav-links-right-container.nav-link-box {
      display: inline-block;
    }
    .nav-links-right-container {
      float: right;
    }
    .nav-link-box {
      display: inline-block;
      line-height: 3em;
      vertical-align: top;
      font-weight: 500;
    }
    .nav-link-box a {
      color: #0095AC;
      font-weight: 400;
    }
    .nav-links-right {
      display: inline-block;
      padding: 0 1em;
    }
    }

    /* Full view */

    @media screen and (min-width: 1200px) {
    .f-dropdown li {
      cursor: pointer;
      font-size: 0.875rem;
      line-height: 1.125rem;
      margin: 0;
      padding: 1em;
    }
    }

/* Footer styling */

  /* iPhone 5 view */

  .footer-bg {
    background-color: #0095AC;
  }
  .footer-logo {
    margin: 2em auto;
    width: 10em;
    display: block;
  }
  .footer-link {
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
  }
  a.footer-link:hover {
      color: #bbe5ee;
  }
  .footer-link-social-icon {
    width: 2em;
    display: block;
    margin: 2em auto;
  }

  /* iPad view */

  @media screen and (min-width: 768px) {
  .footer-bg {
    padding: 1em;
  }
  .footer-logo {
    display: inline-block;
  }
  .footer-left {
    display: inline-block;
    width: 50%;
  }
  .footer-right {
    display: inline-block;
    width: 48%;
    vertical-align: bottom;
  }
  .footer-left .footer-link {
    text-align: left;
    padding: 0.5em 1em;
  }
  .footer-right .footer-link {
    text-align: right;
  }
  .footer-link-social-icon {
    display: inline-block;
    margin: 1em;
  }
  .social-icons-box {
      text-align: right;
  }
  }

  /* Full view */

  @media screen and (min-width: 1200px) {
    .footer-bg {
      padding: 0;
    }
    .footer-logo {
      width: 5em;
      margin: 1em;
      padding: 2em 0;
    }
    .footer-left {
      width: 65%;
    }
    .footer-right {
      width: 30%;
      vertical-align: middle;
    }
    .footer-left .footer-link {
      display: inline-block;
      font-size: 0.7em;
    }
    .footer-right .footer-link {
      display: inline-block;
      font-size: 0.7em;
    }
    .social-icons-box {
      display: inline-block;
    }
    .footer-link-social-icon {
      margin: 0;
      width: 1em;
    }
  }