// Place all the styles related to the tutor_onboarding controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.progress-bar-container {
  height: 7em;
  overflow: hidden;

  .progress-step, .progress-next-button {
    text-align: center;
    padding-bottom: 0.3em;
  }

  .progress-step {
    p {
      padding: 0 0.5em 0.5em;
      margin: 0;
    }
    p.number {
      margin: 1em 0 0.3em;
      display: inline-block;
      padding: 0.5em;
      border-radius: 100%;
      height: 2em;
      width: 2em;
      line-height: 0.9em;
      background-color: #BBE5EE;
      color: #4F5252;
      font-weight: 700;
    }
    &.completed-step {
      background-color: #CFCECE;
      p {
        color: #808384;
      }
      p.number {
        background-color: #E8E8E8;
      }
    }
    &.current-step {
      background-color: #0095AC;
      p {
        color: #FAFAFA;
      }
      p.number {
        color: #4F5252;
      }
    }
  }

  .progress-next-button {
    background-color: #58AA4D;
    p {
      color: white;
      font-size: 1.5em;
      font-weight: 400;
      line-height: 4.5em;
    }
  }
}