<div class="row">
  <div class="small-11 small-centered columns">
    <h2>My Courses</h2>
    <%= render 'dashboard/courses/course_selector' %>
    <%= render 'dashboard/courses/show_courses' %>
  </div>
</div>