<section class="dashboard tutor">
  <div class="wrapper">
    <div class="wrapper__text">
      <h1 class="title">My Courses</h1>
      <%= render 'dashboard/courses/add_course_form' %>
      <%= render 'dashboard/courses/show_courses' %>
      <%= render 'dashboard/courses/promotions' %>
    </div>
  </div>
</section>