<!-- Begin .header -->
  <header class="header cf" role="banner">
    <div class="wrapper">
      {{> atoms-logo }}
      {{> molecules-school-dropdown }}
      {{> molecules-primary-nav }}
    </div>
  </header>
<!-- End .header -->