<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
  <div class="wrapper">
    <div class="footer-logo">
      {{ atoms-square }}
    </div>
    {{> molecules-footer-nav }}
    <div class="footer-secondary-links">
      {{> molecules-legal-nav }}
      {{> molecules-social-nav }}
    </div>
  </div>
</footer>
<!-- End Footer -->