<div class="dashboard-content new-tutor-partial">
  <div class="mobile-error-message">
    <p>Please use your tablet, laptop or desktop computer to complete your Tutor application and manage your account. A mobile app is in the pipeline, but in the mean-time we can only provide the best experience for you on larger screens. Thanks for bearing with us while we grow!</p>
  </div>
  <div class="new-tutor-partial-wrapper">
    <div class="row">
      <div class="small-12 medium-7 columns">
        <%= render 'layouts/partials/tutors/new_tutor_welcome' %>
      </div>
      <div class="small-12 medium-5 columns">
        <%= render 'layouts/partials/tutors/new_tutor_checklist' %>
      </div>
    </div>
  </div>
</div>