<div class="dashboard-content new-tutor-partial">
  <div class="mobile-error-message">
    <p>Please use your tablet, laptop or desktop computer to complete your Tutor application and manage your account. A mobile app is in the pipeline, but in the mean-time we can only provide the best experience for you on larger screens. Thanks for bearing with us while we grow!</p>
  </div>
  <div class="new-tutor-partial-wrapper">
    <div class="row">
      <% if @tutor.onboarding_status == 'Step 1' %>
        <%= render 'layouts/partials/tutor_onboarding/instruction_step_screens/application.html.erb' %>
      <% elsif @tutor.onboarding_status == 'Step 2' %>
        <%= render 'layouts/partials/tutor_onboarding/instruction_step_screens/courses.html.erb' %>
      <% elsif @tutor.onboarding_status == 'Step 3' %>
        <%= render 'layouts/partials/tutor_onboarding/instruction_step_screens/schedule.html.erb' %>
      <% elsif @tutor.onboarding_status == 'Step 4' %>
        <%= render 'layouts/partials/tutor_onboarding/instruction_step_screens/banking_info.html.erb' %>
      <% end %>
    </div>
  </div>
</div>