<style>
a.appt-history-link {
  color: white;
  font-weight: 100;
  background-color: #0095AC;
  border: 1px solid black;
  padding: 0.4em 1em;
  border-radius: 5px;
}
a.appt-history-link:hover {
  font-weight: 100;
}
</style>

<section class="dashboard tutor">
  <div class="wrapper">
    <div class="wrapper__text">
      <h2 class="title">Setttings Manager</h2>
    </div>
    <div class="g g-3up">
      <div class="gi">
        <%= render 'vertical_sub_menu' %>
      </div>
      <div class="gi">
        <p>Appointment history can go here...</p>
      </div>
      <div class="gi"></div>
    </div>
  </div>
</section>
