<style>
/* Do not remove! This must be in the view for it to only highlight the correct selected link in the settings vertical sub-menu */
a.appt-history-link {
  color: white;
  font-weight: 100;
  background-color: #0095AC;
  padding: 0.4em 1em;
  border-radius: 5px;
}
a.appt-history-link:hover {
  font-weight: 100;
}
</style>
<section class="dashboard-content">
  <div class="row">
    <h2 class="dashboard-title">Settings Manager</h2>
  </div>
  <div class="row">
    <div class="small-5 large-3 columns sub-menu">
      <%= render 'vertical_sub_menu' %>
    </div>
    <div class="small-7 large-4 large-offset-1 columns end">
      <p>Appointment history can go here...</p>
    </div>
  </div>
</section>