<style>
/* Do not remove! This must be in the view for it to only highlight the correct selected link in the settings vertical sub-menu */
a.payment-settings-link {
  color: white;
  font-weight: 100;
  background-color: #0095AC;
  padding: 0.5em 1em;
  border-radius: 4px;
  border: 1px solid #0095AC;
}
</style>
<section class="dashboard-content">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="dashboard-title">Settings Manager</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-5 medium-3 columns sub-menu">
      <%= render 'vertical_sub_menu' %>
    </div>
    <div class="small-7 medium-4 medium-offset-1 columns end">
      <% if @tutor.acct_id.nil? %>
        <div class="row payment-welcome">
          <p>You will be paid for all of your tutoring sessions via direct deposit. We use <%= link_to 'Stripe', "https://stripe.com/about" %> to securely deposit money into your bank account after each session is complete. Click the button below to link your bank account.</p>
        </div>
      <% end %>
      <%= render '/dashboard/tutor/settings/account_status', tutor: @tutor %>    
    </div>
  </div>
</section>