<div class="row">
  <div class="small-12 medium-8 medium-centered columns">
    <div class="box margin-top-2em margin-bottom-2em">
      <h4 class="center">Until your account is approved, your profile is only visible to you while logged in.</h4>
      <h4 class="center">Any visitor to your profile page will see a message stating your account is not available for booking yet.</h4>
    </div>
  </div>
</div>