<section class="dashboard-content">
  <div class="row">
    <div class="small-12 columns">
      <h1>Profile Preview</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <p>Share your profile link:<%= link_to public_profile_url %></p>
      <%= link_to profile_tutor_path do %>
        <button type="button" class="btn-labeled radius primary right" id="edit_profile_button">Edit</button>
      <% end %>
      <%= render 'tutor_profile' %>
    </div>
  </div>
</section>