<div class="row">
  <div class="large-6 large-offset-3 columns">
    <p><%= current_user.first_name %>, your application is complete and we'll review it shortly. You'll recieve an email within the next 24 hours with instructions on how to set your schedule if you're approved.</p>
  </div>
</div>