<section class="secondary-nav">
  <nav class="wrapper nav--secondary">
    <ul class="breadcrumbs">
      <% @dashboard_links.each do |name, link| %>
        <li><%= link_to "#{name}", link, class: (if @current == name then 'current' else '' end) %></li>
      <% end %>
    </ul>     
  </nav>
</section>