<nav role="navigation" class="dashboard-nav">
  <ul class="dashboard-nav">
    <% @dashboard_links.each do |name, link| %>
      <% if @current == name %>
        <li class="dashboard-nav-block"><%= link_to "#{name.upcase}", link, class: 'dashboard-nav-link selected'%></li>
      <% else %>
        <li class="dashboard-nav-block"><%= link_to "#{name.upcase}", link, class: 'dashboard-nav-link'%></li>
      <% end %>
    <% end %>
  </ul>
</nav>