<footer class="footer" role="contentinfo">
  <div class="wrapper">
    <div class="footer-logo">
      <%= image_tag('logo_white.png', class: 'footer-logo') %>
    </div>
    <ul class="nav-footer">
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Partners</a></li>
    </ul>     
    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>            
      <ul class="social-nav">
        <li>
          <a href="javascript:void(0)">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
          </a>
        </li>
      </ul>     
    </div>
  </div>
</footer>