<style>
.nav-bar-sides {
  display: block;
  background-color: white;
}
.nav-row {
  display: block;
  height: 3em;
}
.nav-logo {
  height: 3em;
}
.nav-link-box {
  display: inline-block;
  line-height: 3em;
  vertical-align: top;
  font-weight: 500;
  color: #4F5252;
}
.nav-logo-box {
}
.nav-campus-box {
}
.nav-right-links {
  float: right;
}
.nav-link-right-1 {
}
.nav-link-right-2 {
}
.no-margin {
  margin: 0;
}
</style>

<nav>
  <div class="nav-bar-sides">
    <div class="row nav-row">
      <div class="nav-logo-box nav-link-box">
        <%= link_to '/' do %>
          <%= image_tag('axon_logo_color.png', class: 'nav-logo') %>
        <% end %>
      </div>
      <div class="nav-campus-box nav-link-box">
        <a data-dropdown="campus-dropdown" aria-controls="campus-dropdown" aria-expanded="false">Campus</a>
        <ul id="campus-dropdown" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
          <% School.all.each do |school| %>
            <%= link_to(set_school_path(school_id: school.id), method: :post)  do %>
              <li><%= school.name %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="nav-right-links nav-link-box">
        <div class="nav-link-right-1 nav-link-box">
          Login
        </div>
        <div class="nav-link-right-2 nav-link-box">
          <button class="btn success tiny no-margin">Become A Tutor</button>
        </div>
      </div>
    </div>
  </div>
</nav>
<a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Has Dropdown</a>
<ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
  <li><a href="#">This is a link</a></li>
  <li><a href="#">This is another</a></li>
  <li><a href="#">Yet another</a></li>
</ul>