<style>
.green {
  background-color: #58AA4D;
}
</style>

<div class="green">
  <div class="row">
    <div class="large-6 large-offset-3 columns">
      <p>Set yo' availability</p>
    </div>
  </div>
</div>