.ui-hidden-all {
  display: none;
}

.ui-hidden-small {
  display: none;

  @media all and (min-width: $medium-screen) {
    display: inherit;  
  }
}

.ui-visible-small {
  @media all and (min-width: $medium-screen) {
    display: none;
  }
}

.ui-visible-large,
.ui-visible-huge {
  display: none;
  
  @media all and (min-width: $medium-screen) {
    display: inherit;
  }
}

.ui-collapsed {
  height: 0; max-height: 0;
  padding: 0; margin: 0;
  overflow: hidden;
}
.ui-expanded {
  height: auto; max-height: 100%;
  display: block;
}
.ui-closed {
  display: none;
  opacity: 0;
  height: 0; width: 0;
  margin-left: -9999px;

  @media all and (min-width: $large-screen) {
    height: auto; width: inherit;
    margin: 0 auto;
    display: block;
    opacity: 1;
  }
}

.screenreader {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.invisible {
  display: none;
  visibility: hidden;
  @extend .ui-collapsed;
}

.italic {
  font-style: italic;
}
.center {
  text-align: center;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}


