<style>
.welcome-text {
  font-size: 0.9em;
}
</style>

<h3>Welcome, <%= @tutor.first_name %></h3>
<p class="welcome-text">Thanks for signing up to become an Axon tutor! Complete your application below and then follow the checklist on the right to set up your account. In order to start accepting bookings, you'll need to complete the Account Setup Checklist and have your application approved. Please contact us if you have any questions.</p>