<style>
.welcome-text {
  font-size: 0.9em;
  margin: 0 auto 0.6em;
  max-width: 16em;
}
</style>

<h3>Welcome, <%= @tutor.first_name %></h3>
<p class="welcome-text">Thanks for signing up to become an Axon tutor!</p>
<p class="welcome-text">Complete your application below and then follow the Account Setup Checklist.</p>
<p class="welcome-text">In order to start accepting bookings, you'll need to complete the checklist and have your application approved.</p>