<style>
.new-tutor-partial-wrapper {
  width: 100%;
  background-color: #FAFAFA;
  border-bottom: 1px solid #4F5252;
}
.new-tutor-partial {
  display: block;
  height: 100%;
  padding-top: 1.5em;
  width: 44em;
  margin: auto;
}
.container {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.welcome-container {
  width: 20em;
  text-align: left;
}
.checklist-container {
  width: 15em;
  padding-top: 1em;
  float: right;
}
</style>
<div class="new-tutor-partial-wrapper">
  <div class="new-tutor-partial">
    <div class="container welcome-container">
      <%= render 'layouts/partials/tutors/new_tutor_welcome' %>
    </div>
    <div class="container checklist-container">
      <%= render 'layouts/partials/tutors/new_tutor_checklist' %>
    </div>
  </div>
</div>