<h1>Welcome, <%= @tutor.first_name %></h1>
<p class="welcome-text">Congratulations on signing up to become an Axon tutor!</p>
<p class="welcome-text">Click through the <b>Activation Checklist links</b> on the right to finish setting up your account.</p>
<p class="welcome-text">The checklist should only take 5 minutes to complete, but you'll want these things before you start: your unofficial transcript or resume, your profile picture and your bank account's routing and account numbers to recieve payments.</p>