<h1>Welcome, <%= @tutor.first_name %></h1>
<p class="welcome-text">Thanks for signing up to become an Axon tutor!</p>
<p class="welcome-text">Follow the Account Setup Checklist links on the right to fully activate your account.</p>
<p class="welcome-text">In order to start accepting bookings, you'll need to complete the checklist and have your application approved.</p>