<style>

/* Mobile view only shows message asking Tutor to wait and apply on iPad or Desktop */
.mobile-error-message {
  display: inline-block;
}
.new-tutor-partial-wrapper {
  display: none;
}

/* for iPad (no mobile for Tutor only views) */
@media (min-width: 768px) {
.mobile-error-message {
  display: none;
}
.new-tutor-partial-wrapper {
  background-color: #EFF1F3;
  border-radius: 4px;
  border: 1px solid #BBE5EE;
  display: block;
  margin: 1em auto;
}
.container {
  text-align: center;
  padding: 1em 0;
  max-width: 18em;
  margin: auto;
}
.icons-container {
  width: 283px;
  margin-top: 1em;
}
.container-col {
  display: inline-block;
}
.container.checklist-container {
  font-size: 0.8em;
}
}

/* Full view */
@media (min-width: 1100px) {
.container-col {
  display: inline-block;
}
.container.checklist-container {
  font-size: 1em;
}
}

</style>

<div class="dashboard-content new-tutor-partial">
  <div class="mobile-error-message">
    <p>Please use your tablet, laptop or desktop computer to complete your Tutor application and manage your account. A mobile app is in the pipeline, but in the mean-time we can only provide the best experience for you on larger screens. Thanks for bearing with us while we grow!</p>
  </div>
  <div class="new-tutor-partial-wrapper">
    <div class="row">
      <div class="small-12 medium-4 columns container-col">
        <div class="container welcome-container">
          <%= render 'layouts/partials/tutors/new_tutor_welcome' %>
        </div>
      </div>
      <div class="small-12 medium-4 columns">
        <div class="container icons-container">
          <%= render 'layouts/partials/tutors/new_tutor_icons' %>
        </div>
      </div>
      <div class="small-12 medium-4 columns">
        <div class="container checklist-container">
          <%= render 'layouts/partials/tutors/new_tutor_checklist' %>
        </div>
      </div>
    </div>
  </div>
</div>