<style>
.icon-box {
  display: block;
}
.big-welcome-fi {
  display: inline-block;
  font-size: 2em;
}
.icon-text {
  display: inline-block;
}
</style>

<div class="icon-box">
  <i class="fi-torsos big-welcome-fi"></i>
  <p class="icon-text">Manage Your Profile</p>
</div>
<div class="icon-box">
  <i class="fi-calendar big-welcome-fi"></i>
  <p class="icon-text">Create Your Schedule</p>
</div>
<div class="icon-box">
  <i class="fi-list-bullet big-welcome-fi"></i>
  <p class="icon-text">Set Courses & Rates</p>
</div>
<div class="icon-box">
  <i class="fi-credit-card big-welcome-fi"></i>
  <p class="icon-text">Accept Payments</p>
</div>

