<style>
</style>

<h3 class="welcome-header">Welcome <%= @tutor.first_name %>!</h3>
<p class="welcome-text">Complete your application below and then follow the checklist on the right to start tutoring with Axon! Complete your application below and then follow the checklist on the right to start tutoring with Axon! Complete your application below and then follow the checklist on the right to start tutoring with Axon! Complete your application below and then follow the checklist on the right to start!</p>