<style>
.welcome-message-container {
  display: block;
}
.welcome-icons-container {
}
.welcome-header {
  margin: 0;
  color: #4F5252;
}
.welcome-text {
  margin: 0.8em 0;
  max-width: 26em;
  font-size: 0.9em;
}
.welcome-icon-box {
  display: inline-block;
  max-width: 6em;
  text-align: center;
  vertical-align: top;
}
.big-welcome-fi {
  font-size: 3em;
}
.icon-text {
  font-size: 0.7em;
  max-width: 6em;
}
</style>

<h2 class="welcome-header">Welcome <%= @tutor.first_name %>!</h2>
<p class="welcome-text">Complete your application below and then follow the checklist on the right to start tutoring with Axon!</p>
<p class="welcome-text">From this dashboard, you will be able to:</p>

<div class="welcome-icon-box">
  <i class="fi-torsos big-welcome-fi"></i>
  <p class="icon-text">Manage Your Profile</p>
</div>
<div class="welcome-icon-box">
  <i class="fi-calendar big-welcome-fi"></i>
  <p class="icon-text">Create Your Schedule</p>
</div>
<div class="welcome-icon-box">
  <i class="fi-list-bullet big-welcome-fi"></i>
  <p class="icon-text">Set Courses & Rates</p>
</div>
<div class="welcome-icon-box">
  <i class="fi-credit-card big-welcome-fi"></i>
  <p class="icon-text">Accept Payments</p>
</div>