<style>
.welcome-message-container {
  display: block;
  padding: 2em 2em 0;
}
.welcome-header {
  margin: 0;
}
.welcome-text-top {
  max-width: 26em;
}
.welcome-text-bottom {
    margin: 0.5em 0;
}
.welcome-icons-container {
  display: block;
  width: 80%;
}
.welcome-icons-half {
  display: inline-block;
  width: 49%;
}
.welcome-icon-box {
  display: inline-block;
  padding: 1em;
  width: 49%;
  text-align: center;
}
.big-welcome-fi {
  font-size: 3em;
}
</style>

<div class="welcome-message-container">
  <h2 class="welcome-header">Welcome <%= @tutor.first_name %>!</h2>
  <h5 class="welcome-text-top">Complete your application below and then follow the checklist on the right to get ready to start tutoring!</h5>
  <h5 class="welcome-text-bottom">From this dashboard, you will be able to:</h5>
</div>

<div class="welcome-icons-container">
  <div class="welcome-icons-half">
    <div class="welcome-icon-box">
      <i class="fi-torsos big-welcome-fi"></i>
      <p>Manage Your Profile</p>
    </div>
    <div class="welcome-icon-box">
      <i class="fi-calendar big-welcome-fi"></i>
      <p>Create Your Schedule</p>
    </div>
  </div>
  <div class="welcome-icons-half">
    <div class="welcome-icon-box">
      <i class="fi-list-bullet big-welcome-fi"></i>
      <p>Set Courses and Rates</p>
    </div>
    <div class="welcome-icon-box">
      <i class="fi-credit-card big-welcome-fi"></i>
      <p>Accept Payments</p>
    </div>
  </div>
</div>