<section class="dashboard tutor">
  <div class="wrapper">
    <div class="wrapper__text">
      <h1 class="title">Setttings Area</h1>
    </div>
    <div class="g g-3up">
      <div class="gi">
        <%= render 'vertical_sub_menu' %>
      </div>
      <div class="gi">
        <p>Appointment history can go here...</p>
      </div>
      <div class="gi"></div>
    </div>
  </div>
</section>
