<div class="row">
  <div class="medium-3 columns">
    <%= render 'vertical_sub_menu' %>
  </div>
  <div class="medium-8 medium-offset-1 columns">
    <div class="row">
      <div class="medium-6 columns">
        <p>Appointment history can go here...</p>
      </div>
    </div>
  </div>
</div>