<div class="row">
  <div class="medium-3 columns">
    <%= render 'vertical_sub_menu' %>
  </div>
  <div class="medium-8 medium-offset-1 columns">
    <div class="row">
      <div id="payment" class="medium-6 columns">
        <%= render 'account_status', tutor: @tutor %>
      </div>
    </div>
  </div>
</div>