<table class="tabular-data--large">
	<thead>
		<tr>
			<th>Date</th>
			<th>Time</th>
			<th>Subject</th>
			<th>Location</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>September 13th, 2015</td>
			<td>3:00 PM</td>
			<td>FILM 1103 - The Films of Nic Cage</td>
			<td>345 West Hancock - Athens Executive Suites</td>
			<td><button class="btn--book">Book Now</button></td>
		</tr>
		<tr>
			<td>September 13th, 2015</td>
			<td>3:00 PM</td>
			<td>FILM 1103 - The Films of Nic Cage</td>
			<td>345 West Hancock - Athens Executive Suites</td>
			<td><button class="btn--book">Book Now</button></td>
		</tr>
		<tr>
			<td>September 13th, 2015</td>
			<td>3:00 PM</td>
			<td>FILM 1103 - The Films of Nic Cage</td>
			<td>345 West Hancock - Athens Executive Suites</td>
			<td><button class="btn--book">Book Now</button></td>
		</tr>
		<tr>
			<td>September 13th, 2015</td>
			<td>3:00 PM</td>
			<td>FILM 1103 - The Films of Nic Cage</td>
			<td>345 West Hancock - Athens Executive Suites</td>
			<td><button class="btn--book">Book Now</button></td>
		</tr>
	</tbody>
</table>