.hero {
  position: relative;
  background: $hero-background-base;
  padding: 1.5em 0;

  h1, h2 {
    margin: $pad-half 0;
    font-family: $sans-serif;
  }

  .title, 
  .subtitle {
    text-shadow: 0 0 3px darken($gray, 65%);
    color: $hero-color;
    margin: 0 auto;
    line-height: 1.2;
    
    @include media($medium-screen) {
      font-size: 3.25em;
    }
  }

  .subtitle {  
    @include media($medium-screen) {
      font-size: 2em;
    }
  }
}