// Mobile view
.navigation-menu-button {
  color: $white;
  display: block;
  float: right;
  font-weight: 700;
  margin: 0;
  padding-right: 1em;
  text-transform: uppercase;

  @include media($medium-screen) {
    display: none;
  }

  &:focus,
  &:hover {
    color: $hover-link-color;
  }
}

// Nav menu
nav {
  -webkit-transform-style: preserve-3d; // stop webkit flicker
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
  position: relative;
  
  a {
    display: block;
    line-height: 1;
  }
}