<% content_for (:special_nav) do %>
  <div>
    <!-- DO NOT REMOVE -->
    <!-- This div is intentionally blank to keep any Error pages from being dependent on any dynamically set nav links (like school or login/dashboard, etc.), otherwise the Error page could break as well, leading to an infinite redirect loop to an error page -->
  </div>
<% end %>

<%= render template: "layouts/application" %>