<div class="row">
  <div class="small-12 columns">
    <div class="center">
      <h4>You have selected an appointment for 2:30 pm on Wednesday, March 3rd.</h4>
      <h3>Would you like to make this a weekly appointment?</h3>

      <h5>Similar Available Appointments</h5>
      <% @similar_appt_times.each do |appt_info| %>
        <div class="similar-appt-time-box">
          <p class="no-bottom-margin"><%= appt_info[:time_display] %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>