<div class="row">
  <div class="small-12 columns">
    <div class="center">
      <h3>You have selected an appointment for 2:30 pm on Wednesday, March 3rd.</h3>
      <h2>Would you like to make this a weekly appointment?</h2>

      <h3>Similar Available Appointments</h3>
      <%= @similar_appt_times.each do |appt_time| %>
        <div class="similar-appt-time">
          <p><%= appt_time %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>